@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Splendor.Models.IGameBoard
@{
    ViewData["Title"] = "Splendor";


    string purple = "rgb(110, 10, 150)";

    bool IsCurrentPlayer = Model.Players[Model.CurrentPlayer].Id == (int)ViewData["PlayerId"];
}
<body style="margin-bottom: 10rem;">



<!-- Pull for game state -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

    var version = @Model.Version;

    setTimeout(pull, 1000);
    function pull() {
        $.ajax({
            url: "/Game/State/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "GET",
            success: function (response) {
                if (response.version != version) {
                    renderGameBoard(response);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("ERROR - Please try again.")
            }
        });
        setTimeout(pull, 3000);
        return false;
    }

    function endTurn() {
        $.ajax({
            url: "/Game/EndTurn/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify({ TakenTokens: TakingTokens }),
            contentType: "application/json",
            dataType: 'json',
            success: function (data) {
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                } else if (data.hasOwnProperty("actionCode")) {
                    alert("Continue Action");
                }
                else {
                    TakingTokens = { 
                        Emerald: 0,
                        Sapphire: 0,
                        Ruby: 0,
                        Diamond: 0,
                        Onyx: 0,
                    };
                    Tokens = data.tokenStacks;
                    SetTokens();
                    TakingTokens = {};
                    renderGameBoard();
                }
            },
            ecolorunction (xhr, ajaxOptions, thrownError) {
                alert("ERROR - Please try again.")
            }
        });
    }

    function purchase(ImageName) {
        $.ajax({
            url: "/Game/Purchase/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (data) {
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                } else if (data.hasOwnProperty("actionCode")) {
                    alert("Continue Action");
                }
                else {
                   renderGameBoard(data);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("ERROR - Please try again.")
            }
        });
    }

    function reserve(ImageName) {
        $.ajax({
            url: "/Game/Reserve/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (data) {
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                } else if (data.hasOwnProperty("actionCode")) {
                    alert("Continue Action");
                }
                else {
                   renderGameBoard(data);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("ERROR - Please try again.")
            }
        });
    }
    </script>



<!-- Options button -->
    <nav class="navbar">   
        <script>
            
        </script>
        <div class="mx-3 btn" onclick='ToggleScreen("OptionsScreen")' > 
            @for (int j = 0; j < 3; j++)
            {
                <svg width="0.8rem" height="1rem">
                    <circle cx="50%" cy="50%" r="5" fill="gray"/>
                </svg>
            }
            </div>
    </nav>

<section class="container row mx-auto p-2 maxContainer">

    <!-- Player Stats -->
        <section class="col-12 m-0 mt-5 p-2
                        col-lg-6 mt-lg-5 m-lg-0 p-lg-4 mt-xl-0 pt-xl-0">
            @{
                string borderColor = "gray";
                int playerOrdinal = 0;
                int i = playerOrdinal - 1;
                int count = 0;
            }

            @for (int j = 0; j < Model.Players.Count; j++)
            {
                @if (Model.Players[j].Id == (int)ViewData["PlayerId"])
                {
                    playerOrdinal = j;
                    i = j - 1;
                    break;
                }
            }
            @while (count < Model.Players.Count)
            {
                count++;
                i++;

                if (i >= Model.Players.Count)
                {
                    i -= Model.Players.Count;
                }


                if (i == Model.CurrentPlayer)
                {
                    borderColor = @purple;
                }
                else
                {
                    borderColor = "gray";
                }

                <section class="container row rounded-3 mt-3 mx-auto pb-1 px-0" style="border: 2px solid @borderColor;">
                    <div class="col-12 container
                                col-md-6
                                col-lg-12
                                playerStatsContainer">
                        <h3 class="row ms-3">@Model.Players[i].Name</h3>
                        <table class="mb-1">
                            <!--Total of Tokens + Cards-->
                                <tr>
                                    <th></th>
                                    @{
                                        Dictionary<Token, string> Colors = new Dictionary<Token, string>() { { Token.Emerald, "green" }, { Token.Sapphire, "blue" }, { Token.Ruby, "red" }, { Token.Diamond, "white" }, { Token.Onyx, "brown" } };
                                    }
                                        @foreach(KeyValuePair<Token, string> kvp in Colors)
                                        {
                                            <th>
                                                <svg class="playerStats">
                                                    <text id='@Model.Players[i].Id-Total:@kvp.Key' x="50%" y="50%" text-anchor="middle" fill=@kvp.Value stroke="black" font-size="2rem" stroke-width="1px" dy=".35em">@(Model.Players[i].Tokens[kvp.Key] + Model.Players[i].CardTokens[kvp.Key])</text>
                                                </svg>
                                            </th>
                                        }

                                        <th>
                                            <svg class="playerStats">
                                                    <text id="@Model.Players[i].Id-Total:Gold" x="50%" y="50%" text-anchor="middle" fill="yellow" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em">@Model.Players[i].Tokens[Token.Gold]</text>
                                            </svg>
                                        </th>
                                </tr>

                            <!--Total Tokens-->
                                <tr>
                                    <td>
                                        <svg class="playerStats">
                                            <text id="@Model.Players[i].Id-TokenTotal" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em">@Model.Players[i].NumberOfTokens()</text>
                                        </svg>
                                    </td>
                                    @foreach(KeyValuePair<Token, string> kvp in Colors)
                                    {
                                        <td>
                                            <svg class="playerStats">
                                                <circle cx="50%" cy="50%" r="20" fill=@kvp.Value />
                                                <text id="@Model.Players[i].Id-Token:@kvp.Key" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em">@Model.Players[i].Tokens[kvp.Key]</text>
                                            </svg>
                                        </td>
                                    }

                                    <td>
                                        <svg class="playerStats">
                                            <circle cx="50%" cy="50%" r="20" fill="yellow" />
                                            <text id="@Model.Players[i].Id-Token:Gold" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em">@Model.Players[i].Tokens[Token.Gold]</text>
                                        </svg>
                                    </td>
                                </tr>

                            <!--Total Cards and Prestige Points-->
                                <tr>
                                    <td>
                                        <svg class="playerStats">
                                            <text id="@Model.Players[i].Id-PrestigePoints" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em">@Model.Players[i].PrestigePoints</text>
                                        </svg>
                                    </td>
                                    @foreach(KeyValuePair<Token, string> kvp in Colors)
                                    {
                                        <td>
                                            <svg class="playerStats">
                                                <rect x="10%" rx="10" ry="10" width="2.4rem" height="3rem" fill=@kvp.Value />
                                                <text id="@Model.Players[i].Id-Card:@kvp.Key" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em">@Model.Players[i].CardTokens[kvp.Key]</text>
                                            </svg>
                                        </td>
                                    }
                                </tr>
                        </table>
                    </div>

                    <!-- Resereved Cards -->
                        <div id="ReservedCards" class="col-12 container position-relative
                                    col-md-6 ps-md-5 pe-md-0
                                    col-lg-12 p-lg-0
                                    playerStatsContainer">
                            <div class="row m-0" style="position: relative; top: 50%; transform: translateY(-50%);">
                                @if (Model.Players[i].ReservedCards.Count > 0)
                                {
                                    foreach (ICard card in Model.Players[i].ReservedCards)
                                    {
                                        <div class="col-4
                                                    col-sm-3
                                                    col-md-4
                                                    ">
                                            <img id="@Model.Players[i].Id-Reserved:@card.ImageName" class="col-12 p-0 card cursorHover"  maxwidth="33%" src="/Images/@card.ImageName" alt=@card.ImageName onclick='ReserveCardScreen("@card.ImageName", true)'/>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                </section>
            }
        </section> 

    <!-- Shop -->
        <section id="Shop" class="col-12 m-0 p-2
                        col-lg-6"> 

            <!-- Tokens -->
                <section class="container mx-auto p-0 mb-5" width="100%">
                        <table class="mx-auto" width="100%">
                            <tr>
                                <td id="EmeraldTakingToken"  class="takingToken" onclick="TokenClick('TakingEmerald')"  ><img class="p-0" style="width: 100%" src="/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldTakingTokenValue">0</h1></td>
                                <td id="SapphireTakingToken" class="takingToken" onclick="TokenClick('TakingSapphire')" ><img class="p-0" style="width: 100%" src="/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireTakingTokenValue">0</h1></td>
                                <td id="RubyTakingToken"     class="takingToken" onclick="TokenClick('TakingRuby')"     ><img class="p-0" style="width: 100%" src="/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyTakingTokenValue">0</h1></td>
                                <td id="DiamondTakingToken"  class="takingToken" onclick="TokenClick('TakingDiamond')"  ><img class="p-0" style="width: 100%" src="/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondTakingTokenValue">0</h1></td>
                                <td id="OnyxTakingToken"     class="takingToken" onclick="TokenClick('TakingOnyx')"     ><img class="p-0" style="width: 100%" src="/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxTakingTokenValue">0</h1></td>
                            </tr>
                            <tr>
                                <td class="token cursorHover" onclick="TokenClick('Emerald')"  ><img class="p-0" style="width: 100%" src="/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldTokenValue" >@Model.TokenStacks[Token.Emerald]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Sapphire')" ><img class="p-0" style="width: 100%" src="/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireTokenValue">@Model.TokenStacks[Token.Sapphire]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Ruby')"     ><img class="p-0" style="width: 100%" src="/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyTokenValue"    >@Model.TokenStacks[Token.Ruby]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Diamond')"  ><img class="p-0" style="width: 100%" src="/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondTokenValue" >@Model.TokenStacks[Token.Diamond]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Onyx')"     ><img class="p-0" style="width: 100%" src="/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxTokenValue"    >@Model.TokenStacks[Token.Onyx]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Gold')"     ><img class="p-0" style="width: 100%" src="/Images/Gold.png"     alt="GoldToken"     /><h1 id="GoldTokenValue"    >@Model.TokenStacks[Token.Gold]</h1></td>

                            </tr>
                        </table>
                </section>

            <!-- Cards and Nobles -->
                <section class="container mx-auto p-1 border-purple rounded-3 border-5">

                        <table class="mx-auto">
                            <tr>
                                @foreach (INoble noble in Model.Nobles)
                                {
                                    <td><img id="@noble.ImageName" class="card cursorHover" style="width: 100%; opacity: 80%" src="/Images/@noble.ImageName" alt="@noble" onclick='NobleScreen("@noble.ImageName")' /></td>
                                }
                            </tr>
                        </table>

                        <table class="mx-auto">
                            <tr>
                                @{
                                    string BorderColor = "gray";
                                    string Opacity = "80%";
                                    bool Purchaseable = false;
                                }
                                @foreach (ICard card in Model.Level3Cards)
                                {
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        BorderColor = "green";
                                        Opacity = "100%";
                                        Purchaseable = true;

                                    }
                                    else
                                    {
                                        BorderColor = "gray";
                                        Opacity = "80%";
                                        Purchaseable = false;

                                    }

                                    <td><img id="@card.ImageName" class="card cursorHover" style="width: 100%; border-color: @BorderColor; opacity: @Opacity;" src="/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>
                            
                                }
                             </tr>
                             <tr>
                                @foreach (ICard card in Model.Level2Cards)
                                {
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        BorderColor = "green";
                                        Opacity = "100%";
                                        Purchaseable = true;

                                    }
                                    else
                                    {
                                        BorderColor = "gray";
                                        Opacity = "80%";
                                        Purchaseable = false;

                                    }

                                    <td><img id="@card.ImageName" class="card cursorHover" style="width: 100%; border-color: @BorderColor; opacity: @Opacity;" src="/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>
                            
                                }
                             </tr>
                             <tr>
                                @foreach (ICard card in Model.Level1Cards)
                                {
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        BorderColor = "green";
                                        Opacity = "100%";
                                        Purchaseable = true;

                                    }
                                    else
                                    {
                                        BorderColor = "gray";
                                        Opacity = "80%";
                                        Purchaseable = false;

                                    }
                                    <td><img id="@card.ImageName" class="card cursorHover"  style="width: 100%; border-color: @BorderColor; opacity: @Opacity;" src="/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>
                            
                                }
                             </tr>
                        </table>
                </section>

        </section>

</section>



@if (IsCurrentPlayer)
{
    <button id="endTurnButton" class="btn-darkPurple btn px-5 fs-3" onclick="endTurn();">End Turn</button>
}


<!-- Options Screen -->

    <section id="OptionsScreen" class="OverlayScreen" style="display: none;">
        <div class="mx-auto pt-5" style="width: 100%">
            <h1 class="mt-5 px-auto text-light display-1 text-center " style="width: 100%">Options</h1>
        </div>
        <div style="margin-top: 23rem;">

            <div class="mx-auto purple" style="width: 150px;">
                <button class="mx-auto btn btn-outline-purple btn-lg fw-bold" style="width: 150px; border: 2px solid var(--purple);" onclick='ToggleScreen("OptionsScreen")'>Resume</button> 
            </div>
            <div class="mx-auto my-2" style="width: 200px;">
                <button class="mx-auto btn btn-outline-danger btn-lg" style="width: 200px;" onclick='ToggleScreen("OptionsScreen")'>Exit Game</button> 
            </div>
            <div class="mx-auto my-2" style="width: 150px;">
                <a class="mx-auto btn btn-outline-success btn-lg" style="width: 150px;" href="https://cdn.1j1ju.com/medias/7f/91/ba-splendor-rulebook.pdf" target="_blank" rel="noopener noreferrer" >Rules</a> 
            </div>
        </div>
    </section>

<!-- Card Screen -->
    <section id="CardScreen" class="OverlayScreen">
    </section>
    <script>
        var True = true, False = false;
        function CardScreen(ImageName, purchaseable=false) {

            let backButton = `<div class="col p-0 pe-3">
                                <div class="purple p-0 mx-auto" style="width: 100%;">
                                    <button class="mx-auto btn btn-outline-light btn-lg" style="width: 100%;" onclick='ToggleScreen("CardScreen")'>Back</button>
                                </div>
                            </div>`;


            let reserveButton = getReserveButton(@IsCurrentPlayer, @(Model.Players[playerOrdinal].ReservedCards.Count < 3), ImageName);
            let selectPurchaseButton = getSelectPurchaseButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName);
            let purchaseButton =             getPurchaseButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName);

            let innerHtml = `
                <img class="mx-auto card mt-6
                            mt-md-7"
                            mt-lg-5" src="/Images/` + ImageName + `" width="auto" style="max-height: 50%"/>
                <div class="container mt-5 mx-auto" style="width: 90%; max-width: 40rem; ">
                    <div class="row">` +
                        backButton +
                        reserveButton +
                    `</div>
                    <div class="row mt-3"> ` +
                        selectPurchaseButton +
                        purchaseButton + `
                    </div>
                <div>`;
                
                    
                    
             
                    
            

            let CardScreen = document.getElementById("CardScreen")

            CardScreen.innerHTML = innerHtml;
            CardScreen.style.display = "block";
        }
    </script>

<!-- Noble Screen -->
    <section id="NobleScreen" class="OverlayScreen">
    </section>


<!-- Reserve Card Screen-->
    <section id="CardScreen" class="OverlayScreen">
    </section>
    <script>
        var True = true, False = false;
        function ReserveCardScreen(ImageName, purchaseable=false) {
            let backButton = `<div class="col p-0 `
            if (!purchaseable && @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0)) {
                backButton += "pe-3";
            }
            
            backButton +=                             `">
                                <div class="purple p-0 mx-auto" style="width: 100%;">
                                    <button class="mx-auto btn btn-outline-light btn-lg" style="width: 100%;" onclick='ToggleScreen("CardScreen")'>Back</button>
                                </div>
                            </div>`;


            let selectPurchaseButton = getSelectPurchaseButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName, false);
            let purchaseButton =             getPurchaseButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName, false);

            let innerHtml = `
                <img class="mx-auto card mt-6
                            mt-md-7"
                            mt-lg-5" src="/Images/` + ImageName + `" width="auto" style="max-height: 50%"/>
                <div class="container mt-5 mx-auto" style="width: 90%; max-width: 40rem; ">
                    <div class="row">` +
                        backButton +
                        selectPurchaseButton +
                    `</div>
                    <div class="row mt-3"> ` +
                        purchaseButton + `
                    </div>
                <div>`;
                
                    
                    
             
                    
            

            let CardScreen = document.getElementById("CardScreen")

            CardScreen.innerHTML = innerHtml;
            CardScreen.style.display = "block";
        }
    </script>
</body>