@using Splendor.Models.Implementation
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Splendor.Models.IGameBoard
@{
    ViewData["Title"] = "Splendor";


    string purple = "rgb(110, 10, 150)";

    bool IsCurrentPlayer = Model.Players[Model.CurrentPlayer].Id == (int)ViewData["PlayerId"];
}
<body style="margin-bottom: 10rem;">



<!-- Communicating with the server -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    
    var version = @Model.Version;

    True = true; False = false;
    // Pull once after 1 second
    if (!@IsCurrentPlayer && !@Model.GameOver && !@Model.IsPaused) {
        setTimeout(pull, 1000);
    }
    // pulls to the server to see if anything is new
    function pull() {
        $.ajax({
            url: "/Game/State/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "GET",
            success: function (response) {
                if (!response.success) {
                    console.error("Error:", response.errorMessage);
                    return;
                }
                // if the gameboard's version is different than the current version render the game board and notify!
                if (response.data != version) {
                    renderGameBoard();
                }

            },
            error: function () {
                alert("ERROR - Please try again.");
            }
        });

        // Call again every 3 seconds
        setTimeout(pull, 3000);
        return false;
    }

    // when the turn requires further action
    function continueAction(data) {
        // If the code is 0 then return tokens
        if (data.actionCode == 0) {
            // Refresh PlayerTokens from current DOM values to get the latest state
            // This is critical because the DOM was updated by the polling mechanism
            PlayerTokens = {
                Emerald: parseInt(document.getElementById("PlayerEmeraldTokenValue").innerHTML),
                Sapphire: parseInt(document.getElementById("PlayerSapphireTokenValue").innerHTML),
                Ruby: parseInt(document.getElementById("PlayerRubyTokenValue").innerHTML),
                Diamond: parseInt(document.getElementById("PlayerDiamondTokenValue").innerHTML),
                Onyx: parseInt(document.getElementById("PlayerOnyxTokenValue").innerHTML),
                Gold: parseInt(document.getElementById("PlayerGoldTokenValue").innerHTML)
            };

            // Merge PlayerTokens with TakingTokens to show the full picture
            // This way the player sees all tokens (current + being taken) and can choose which to return
            // Store in global DisplayTokens so ReturnTokenClick and SetReturningTokens can use it
            DisplayTokens = {
                Emerald: (PlayerTokens.Emerald || 0) + (TakingTokens.Emerald || 0),
                Sapphire: (PlayerTokens.Sapphire || 0) + (TakingTokens.Sapphire || 0),
                Ruby: (PlayerTokens.Ruby || 0) + (TakingTokens.Ruby || 0),
                Diamond: (PlayerTokens.Diamond || 0) + (TakingTokens.Diamond || 0),
                Onyx: (PlayerTokens.Onyx || 0) + (TakingTokens.Onyx || 0),
                Gold: (PlayerTokens.Gold || 0) + (TakingTokens.Gold || 0)
            };

            // Check if this was a card reservation
            let isReservation = ReservedCard !== "";

            // If this was a card reservation, add 1 to Gold
            // The server added the gold token, but the DOM hasn't been updated yet
            if (isReservation) {
                DisplayTokens.Gold = (DisplayTokens.Gold || 0) + 1;
            }

            // Calculate correct tokens to return
            let totalTokens = CountTokens(DisplayTokens);
            let tokensToReturn = Math.max(0, totalTokens - 10);

            // Store pending state so we can recover if user clicks View Shop then End Turn
            pendingContinueAction = data;
            pendingTokensToReturn = tokensToReturn;
            pendingIsReservation = isReservation;

            ReturnTokens(tokensToReturn, isReservation, DisplayTokens);

        // If the code is 1 then get a noble
        } else if (data.actionCode == 1) {
            IsChoosingNobles = true;
            pendingNobles = data.nobles;
            getNobles(data.nobles);
        } else if (data.actionCode == 2) {
            ReturnTokens(1, true);
        }
    }

    // When the end turn button is pressed
    // Track if there's a pending continue action (e.g., need to return tokens)
    let pendingContinueAction = null;
    let pendingTokensToReturn = 0;
    let pendingIsReservation = false;
    // Track pending noble selection (mandatory - cannot be cancelled)
    let pendingNobles = null;

    function endTurn() {
        // If player must choose a noble, re-show the noble selection screen
        if (IsChoosingNobles && pendingNobles) {
            getNobles(pendingNobles);
            return;
        }

        // If there's a pending continue action, show the return screen instead of sending a new request
        if (pendingContinueAction) {
            ReturnTokens(pendingTokensToReturn, pendingIsReservation, DisplayTokens);
            return;
        }

        $.ajax({
            url: "/Game/EndTurn/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(TakingTokens),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If there was an error/if the data is a error object -> alert what the error was
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If there is a continue action/if the data is a continue action object -> continue action
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                // Else if it was successful
                else {
                    // Clear pending state on success
                    pendingContinueAction = null;
                    pendingTokensToReturn = 0;
                    TakingTokens = {};

                    // Render the gameboard
                    renderGameBoard();
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    // When the player purchases a card
    function purchase(ImageName) {
        $.ajax({
            url: "/Game/Purchase/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                else {
                    // Render the gameboard
                   renderGameBoard(data);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    // When the player reserves a card
    function reserve(ImageName) {
        ReservedCard = ImageName;
        $.ajax({
            url: "/Game/Reserve/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                else {
                    // Render the gameboard
                   renderGameBoard(data);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    // When the player returns tokens
    function returnTokens(reservedCard) {
        // Set all the return tokens to the inverse of itself
        for (token in ReturningTokens) {
            ReturningTokens[token] *= -1;
        }

        if (!reservedCard) {
            let mergedTokens = merge(ReturningTokens, TakingTokens);

            // Check if the merged tokens have any non-zero values
            let hasActivity = false;
            for (let token in mergedTokens) {
                if (mergedTokens[token] !== 0) {
                    hasActivity = true;
                    break;
                }
            }

            if (!hasActivity || Object.keys(mergedTokens).length === 0) {
                alert("ERROR - No tokens to take or return. This may happen if you returned all the tokens you were taking.");
                // Reset state for retry
                for (token in ReturningTokens) {
                    ReturningTokens[token] *= -1; // Revert the inversion
                }
                return;
            }

            let data = {
                "Tokens": mergedTokens
            };

            $.ajax({
                url: "/Game/Return/@ViewData["GameId"]/@ViewData["PlayerId"]",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    if (!response.success) {
                        alert("ERROR - " + response.errorMessage);
                        return;
                    }

                    var data = response.data;

                    // If the data has an error display that error
                    if (data.hasOwnProperty("errorCode")) {
                        alert("ERROR - " + data.message);
                    // If the data had a continue action -> continue
                    } else if (data.hasOwnProperty("actionCode")) {
                        continueAction(data);
                    }
                    else {
                        // Clear pending state on success
                        pendingContinueAction = null;
                        pendingTokensToReturn = 0;
                        pendingIsReservation = false;
                        TakingTokens = {};
                        ReturningTokens = {};
                        ReservedCard = "";

                        //Render the gameboard
                        renderGameBoard();
                    }
                },
                error: function () {
                    alert("ERROR - Please try again.")
                }
            });
        } else {
            let data = {
               "Tokens": ReturningTokens,
               "ReservingCardImageName": ReservedCard
            };

            $.ajax({
            url: "/Game/Return/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                else {
                    // Clear pending state on success
                    pendingContinueAction = null;
                    pendingTokensToReturn = 0;
                    pendingIsReservation = false;
                    TakingTokens = {};
                    ReturningTokens = {};
                    ReservedCard = "";

                    // Render the gameboard
                   renderGameBoard(data);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
        }
    }

    // When the player gets a noble
    function noble(ImageName) {
        $.ajax({
            url: "/Game/Noble/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                } else {
                    // show you got a noble screen
                    youGotANobleScreen(ImageName);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    function pause() {
        $.ajax({
            url: "/Game/Pause/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function resume() {
        $.ajax({
            url: "/Game/Resume/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function cancelTurn() {
        $.ajax({
            url: "/Game/CancelTurn/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }
                // Clear all frontend state
                pendingContinueAction = null;
                pendingTokensToReturn = 0;
                pendingIsReservation = false;
                TakingTokens = {};
                ReturningTokens = {};
                DisplayTokens = {};
                ReservedCard = "";
                // Reload fresh state
                renderGameBoard();
            },
            error: function () {
                alert("ERROR - Please try again.");
            }
        });
    }
    </script>


<!-- Options button -->
    <nav class="navbar">   
        <div class="mx-3 btn" onclick='ToggleScreen("OptionsScreen")' > 
            @for (int j = 0; j < 3; j++)
            {
                <svg width="0.8rem" height="1rem">
                    <circle cx="50%" cy="50%" r="5" fill="gray"/>
                </svg>
            }
            </div>
    </nav>

<section class="container row mx-auto p-2 maxContainer">

    <!-- Player Stats -->
        <section class="col-12 m-0 mt-5 p-2
                        col-lg-6 mt-lg-5 m-lg-0 p-lg-4 mt-xl-0 pt-xl-0">
            @{
                string borderColor = "gray";
                int playerOrdinal = 0;
                int i = playerOrdinal - 1;
                int count = 0;
                string playerCardId = count.ToString() + "-card";

                uint mostPoints = Model.Players.Max(p => p.PrestigePoints);
            }

            @for (int j = 0; j < Model.Players.Count; j++)
            {
                @if (Model.Players[j].Id == (int)ViewData["PlayerId"])
                {
                    playerOrdinal = j;
                    i = j - 1;
                    break;
                }
            }
            @while (count < Model.Players.Count)
            {
                playerCardId = count.ToString() + "-card";
                count++;
                i++;

                if (i >= Model.Players.Count)
                {
                    i -= Model.Players.Count;
                }


                if (i == Model.CurrentPlayer && !Model.GameOver)
                {
                    borderColor = @purple;
                }
                else if (Model.Players[i].PrestigePoints >= 15 && Model.Players[i].PrestigePoints == mostPoints)
                {
                    borderColor = "green";
                }
                else
                {
                    
                    borderColor = "gray";
                }

               

                <section id="@playerCardId" class="container row rounded-3 mt-3 mx-auto pb-1 px-0" style="border: 2px solid @borderColor;">
                    <div class="col-12 container
                                col-md-6
                                col-lg-12
                                playerStatsContainer">
                        <h3 class="row ms-3">@Model.Players[i].Name</h3>
                        <table class="mb-1">
                            <!--Total of Tokens + Cards-->
                                <tr>
                                    <th></th>
                                    @{
                                        Dictionary<Token, string> Colors = new Dictionary<Token, string>() { { Token.Emerald, "green" }, { Token.Sapphire, "rgb(0,0,200)" }, { Token.Ruby, "rgb(200,0,0)" }, { Token.Diamond, "lightgray" }, { Token.Onyx, "rgb(100,60,20)" } };
                                    }
                                        @foreach(KeyValuePair<Token, string> kvp in Colors)
                                        {
                                            <th>
                                                <svg class="playerStats">
                                                    <text id='@Model.Players[i].Id-Total:@kvp.Key' x="50%" y="50%" text-anchor="middle" fill=@kvp.Value stroke="black" font-size="2rem" stroke-width="1px" dy=".35em" style="opacity: @(Model.Players[i].Tokens[kvp.Key] + Model.Players[i].CardTokens[kvp.Key] == 0 ? 0 : 100);">@(Model.Players[i].Tokens[kvp.Key] + Model.Players[i].CardTokens[kvp.Key])</text>
                                                </svg>
                                            </th>
                                        }

                                        <th>
                                            <svg class="playerStats">
                                                    <text id="@Model.Players[i].Id-Total:Gold" x="50%" y="50%" text-anchor="middle" fill="rgb(225,193,37)" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em" style="opacity: @(Model.Players[i].Tokens[Token.Gold] == 0 ? 0 : 100);">@Model.Players[i].Tokens[Token.Gold]</text>
                                            </svg>
                                        </th>
                                </tr>

                            <!--Total Tokens-->
                                <tr>
                                    <td>
                                        <svg class="playerStats">
                                            <text id="@Model.Players[i].Id-TokenTotal" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em" style="opacity: @(Model.Players[i].NumberOfTokens() == 0 ? 0 : 100);">@Model.Players[i].NumberOfTokens()</text>
                                        </svg>
                                    </td>
                                    @foreach(KeyValuePair<Token, string> kvp in Colors)
                                    {
                                        <td>
                                            <svg class="playerStats">
                                                <circle cx="50%" cy="50%" r="20" fill=@kvp.Value />
                                                <text id="@Model.Players[i].Id-Token:@kvp.Key" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em" style="opacity: @(Model.Players[i].Tokens[kvp.Key] == 0 ? 0 : 100);">@Model.Players[i].Tokens[kvp.Key]</text>
                                            </svg>
                                        </td>
                                    }

                                    <td>
                                        <svg class="playerStats">
                                            <circle cx="50%" cy="50%" r="20" fill="rgb(225,193,37)" />
                                            <text id="@Model.Players[i].Id-Token:Gold" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em" style="opacity: @(Model.Players[i].Tokens[Token.Gold] == 0 ? 0 : 100);">@Model.Players[i].Tokens[Token.Gold]</text>
                                        </svg>
                                    </td>
                                </tr>

                            <!--Total Cards and Prestige Points-->
                                <tr>
                                    <td>
                                        <svg class="playerStats">
                                            <text id="@Model.Players[i].Id-PrestigePoints" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em" style="opacity: @(Model.Players[i].PrestigePoints == 0 ? 0 : 100)" >@Model.Players[i].PrestigePoints</text>
                                        </svg>
                                    </td>
                                    @foreach(KeyValuePair<Token, string> kvp in Colors)
                                    {
                                        <td>
                                            <svg class="playerStats">
                                                <rect x="10%" rx="10" ry="10" width="2.4rem" height="3rem" fill=@kvp.Value />
                                                <text id="@Model.Players[i].Id-Card:@kvp.Key" x="50%" y="50%" text-anchor="middle" fill="gray" stroke="black" font-size="2rem" stroke-width="1px" dy=".35em" style="opacity: @(Model.Players[i].CardTokens[kvp.Key] == 0 ? 0 : 100);">@Model.Players[i].CardTokens[kvp.Key]</text>
                                            </svg>
                                        </td>
                                    }
                                </tr>
                        </table>
                    </div>

                    <!-- Resereved Cards -->
                        <div id="ReservedCards" class="col-12 container position-relative
                                    col-md-6 ps-md-5 pe-md-0
                                    col-lg-12 p-lg-0
                                    playerStatsContainer">
                            <div class="row m-0" style="position: relative; top: 50%; transform: translateY(-50%);">
                                @if (Model.Players[i].ReservedCards.Count > 0)
                                {
                                    string BorderColor_r = "gray";
                                    string Opacity_r = "80%";
                                    bool Purchaseable_r = false;
                                    foreach (ICard card in Model.Players[i].ReservedCards)
                                    {
                                        if (playerOrdinal == i && Model.Players[playerOrdinal].CanPurchaseCard(card))
                                        {
                                            BorderColor_r = "green";
                                            Opacity_r = "100%";
                                            Purchaseable_r = true;

                                        }
                                        else if (playerOrdinal == i && Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                        {
                                            BorderColor_r = "yellow";
                                            Opacity_r = "80%";
                                            Purchaseable_r = true;

                                        }
                                        else
                                        {
                                            BorderColor_r = "gray";
                                            Opacity_r = "80%";
                                            Purchaseable_r = false;

                                        }
                                        <div class="col-4
                                                    col-sm-3
                                                    col-md-4
                                                    ">
                                            <img id="@Model.Players[i].Id-Reserved:@card.ImageName" class="col-12 p-0 card cursorHover" style="border-color: @BorderColor_r; opacity: @Opacity_r;" maxwidth="33%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt=@card.ImageName onclick='ReserveCardScreen("@card.ImageName", @Purchaseable_r)'/>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                </section>
            }
        </section> 

    <!-- Shop -->
        <section id="Shop" class="col-12 m-0 p-2
                        col-lg-6"> 

            <!-- Tokens -->
                <section class="container mx-auto p-0 mb-5" width="100%">
                        <table class="mx-auto" width="100%">
                            <tr>
                                <td id="EmeraldTakingToken"  class="takingToken" onclick="TokenClick('TakingEmerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldTakingTokenValue">0</h1></td>
                                <td id="SapphireTakingToken" class="takingToken" onclick="TokenClick('TakingSapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireTakingTokenValue">0</h1></td>
                                <td id="RubyTakingToken"     class="takingToken" onclick="TokenClick('TakingRuby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyTakingTokenValue">0</h1></td>
                                <td id="DiamondTakingToken"  class="takingToken" onclick="TokenClick('TakingDiamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondTakingTokenValue">0</h1></td>
                                <td id="OnyxTakingToken"     class="takingToken" onclick="TokenClick('TakingOnyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxTakingTokenValue">0</h1></td>
                            </tr>
                            <tr>
                                <td class="token cursorHover" onclick="TokenClick('Emerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldTokenValue" >@Model.TokenStacks[Token.Emerald]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Sapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireTokenValue">@Model.TokenStacks[Token.Sapphire]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Ruby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyTokenValue"    >@Model.TokenStacks[Token.Ruby]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Diamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondTokenValue" >@Model.TokenStacks[Token.Diamond]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Onyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxTokenValue"    >@Model.TokenStacks[Token.Onyx]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Gold')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="GoldTokenValue"    >@Model.TokenStacks[Token.Gold]</h1></td>

                            </tr>
                        </table>
                </section>

            <!-- Cards and Nobles -->
                <section class="container mx-auto p-1 border-purple rounded-3 border-5">

                        <table class="mx-auto">
                            <tr>
                                @foreach (INoble noble in Model.Nobles)
                                {
                                    <td><img id="@noble.ImageName" class="card cursorHover" style="width: 100%; opacity: 80%; max-width: 8rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@noble.ImageName" alt="@noble.ImageName" onclick='NobleScreen("@noble.ImageName")' /></td>
                                }
                            </tr>
                        </table>

                        <table class="mx-auto">
                            <tr>
                                @{
                                    string BorderColor = "gray";
                                    string Opacity = "80%";
                                    bool Purchaseable = false;
                                }
                                @foreach (ICard? card in Model.Level3Cards)
                                {
                                    if (card == null)
                                    {
                                        continue;
                                    }
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        BorderColor = "green";
                                        Opacity = "100%";
                                        Purchaseable = true;

                                    }
                                    else if (Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                    {
                                        BorderColor = "yellow";
                                        Opacity = "80%";
                                        Purchaseable = true;
                                    }
                                    else
                                    {
                                        BorderColor = "gray";
                                        Opacity = "80%";
                                        Purchaseable = false;

                                    }

                                    <td><img id="@card.ImageName" class="card cursorHover" style="width: 100%; border-color: @BorderColor; opacity: @Opacity;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>
                            
                                }
                             </tr>
                             <tr>
                                @foreach (ICard? card in Model.Level2Cards)
                                {
                                    if (card == null)
                                    {
                                        continue;
                                    }
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        BorderColor = "green";
                                        Opacity = "100%";
                                        Purchaseable = true;

                                    }
                                    else if (Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                    {
                                        BorderColor = "yellow";
                                        Opacity = "80%";
                                        Purchaseable = true;
                                    }
                                    else
                                    {
                                        BorderColor = "gray";
                                        Opacity = "80%";
                                        Purchaseable = false;

                                    }

                                    <td><img id="@card.ImageName" class="card cursorHover" style="width: 100%; border-color: @BorderColor; opacity: @Opacity;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>
                            
                                }
                             </tr>
                             <tr>
                                @foreach (ICard? card in Model.Level1Cards)
                                {
                                    if (card == null)
                                    {
                                        continue;
                                    }
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        BorderColor = "green";
                                        Opacity = "100%";
                                        Purchaseable = true;

                                    }
                                    else if (Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                    {
                                        BorderColor = "yellow";
                                        Opacity = "80%";
                                        Purchaseable = true;
                                    }
                                    else
                                    {
                                        BorderColor = "gray";
                                        Opacity = "80%";
                                        Purchaseable = false;

                                    }
                                    <td><img id="@card.ImageName" class="card cursorHover"  style="width: 100%; border-color: @BorderColor; opacity: @Opacity;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>
                            
                                }
                             </tr>
                        </table>
                </section>

        </section>

</section>
    




@if (IsCurrentPlayer && !Model.GameOver)
{
    <button id="endTurnButton" class="btn-darkPurple btn px-5 fs-3" onclick="endTurn();">End Turn</button>
    <audio id="AlertAudio" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/TurnAlert.mp3"></audio>


    <!--Your Turn Alert-->
        <div id="turnContainer" class="toast-container position-fixed bottom-0 p-5" data-bs-delay="100">
            <div id="turnNotification" class="toast align-items-center show" role="alert" aria-live="assertive" aria-atomic="true" style="color: white; background-color: var(--purple)">
                <div class="d-flex">
                    <div class="toast-body fs-3 ms-3">
                        It's your turn!
                    </div>
                </div>
            </div>
        </div>


        <script>
            setTimeout(() => { 
                document.getElementById("AlertAudio").play();
                let turnNotification = document.getElementById("turnContainer");
                turnNotification.style.transform = 'translateX(400px)';
            }, 250);
            setTimeout(() => {
                let turnNotification = document.getElementById("turnContainer");
                turnNotification.style.transform = 'translateX(0px)';
            }, 2000)
            setTimeout(() => {
                //document.getElementById("AlertAudio").pause();
            }, 4000)
        </script>


    <!--Last Turn Alert-->
        <div id="lastTurnContainer" class="toast-container position-fixed">
            <div id="lastTurnNotification" class="align-items-center show" style="color: white; background-color: var(--darkPurple); width: 100%; height: 100%;">
                <div class=" v-align text-center" style="width: 100%">
                    <h1 style="font-size: 200%;">This is your last turn.</h1>
                </div>
            </div>
        </div>


        <script>
            True = true; False = false;
            if (@Model.LastRound) {
                setTimeout(() => { 
                    let turnNotification = document.getElementById("lastTurnContainer");
                    turnNotification.style.transform = 'translate(-50%, 50%)';
                }, 1000);
                setTimeout(() => {
                    let turnNotification = document.getElementById("lastTurnContainer");
                    turnNotification.style.transform = 'translate(-50%, -100%)';
                }, 3000)
            }
        </script>
    
  
}

<!--Notify Alert-->
    <section class="notify align-middle" id="Notify">
        <div class="v-align" style="width: 100%;">
        @{
            int height = 0;

            void DisplayTurn(ITurn turn)
            {
                @if (turn == null)
                {
                    <h1>Game Started</h1>
                }
                else
                {
                    if (turn.Noble != null)
                    {
                        DisplayTurn(Model.Turns[Model.Turns.ToList().IndexOf(turn) + 1]);
                    }

                    if (turn.ReservedCard != null)
                    {
                        height += 5;
                        <div style="width: 100%;">
                            <table class="mx-auto">
                                <tr>
                                    <td class="pe-3"><h1>@turn.PlayerName reserved</h1></td>
                                    <td><img class="card" style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@turn.ReservedCard.ImageName" alt="@turn.ReservedCard.ImageName" onclick="NobleScreen('@turn.ReservedCard.ImageName')"/></td>
                                </tr>
                                @if (turn.TakenTokens != null && turn.TakenTokens.Count > 0) 
                                {
                                    height += 5;
                                    <tr>
                                        <td class="pe-3"><h1>and returned</h1></td>
                                        @foreach (KeyValuePair<Token, int> kvp in turn.TakenTokens)
                                        {
                                            for (int j = 0; j > kvp.Value; j--)
                                            {
                                                <td class="px-1"><img style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@(kvp.Key).png" alt="@kvp.Key" /></td>
                                            }
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else if (turn.TakenTokens != null)
                    {
                        height += 5;
                        <div style="width: 100%">
                                @{
                                    Dictionary<Token, int> positiveTokens = new Dictionary<Token, int>();
                                    Dictionary<Token, int> negativeTokens = new Dictionary<Token, int>();
                                    foreach(KeyValuePair<Token, int> kvp in turn.TakenTokens)
                                    {
                                        if (kvp.Value > 0)
                                        {
                                            positiveTokens.Add(kvp.Key, kvp.Value);
                                        }
                                        else if (kvp.Value < 0)
                                        {
                                            negativeTokens.Add(kvp.Key, kvp.Value);
                                        }
                                    }
                                }
                                @if (positiveTokens.Count > 0)
                                {
                                    <table class="mx-auto">
                                        <tr>
                                            <td class="pe-3"><h1>@turn.PlayerName acquired</h1></td>
                                            @foreach (KeyValuePair<Token, int> kvp in positiveTokens)
                                            {
                                                for (int j = 0; j < kvp.Value; j++)
                                                {
                                                    <td class="px-1"><img style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@(kvp.Key).png" alt="@kvp.Key" /></td>
                                                }
                                            }
                                        </tr>
                                       
                                        @if (negativeTokens.Count > 0) 
                                        {
                                            height += 5;
                                            <tr>
                                                <td class="pe-3"><h1>and returned</h1></td>
                                                @foreach (KeyValuePair<Token, int> kvp in negativeTokens)
                                                {
                                                    for (int j = 0; j > kvp.Value; j--)
                                                    {
                                                        <td class="px-1"><img style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@(kvp.Key).png" alt="@kvp.Key" /></td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <h1>@turn.PlayerName passed</h1>
                                }
                        </div>

                    }
                    else if (turn.Card != null)
                    {
                        height += 5;
                        <div style="width: 100%;">
                            <table class="mx-auto">
                                <tr>
                                    <td class="pe-3"><h1>@turn.PlayerName purchased</h1></td>
                                    <td><img class="card" style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@turn.Card.ImageName" alt="@turn.Card.ImageName" onclick="NobleScreen('@turn.Card.ImageName')" /></td>
                                </tr>
                            </table>
                        </div>
                    }

                    if (turn.Noble != null)
                    {
                        height += 5;
                        <div style="width: 100%;">
                            <table class="mx-auto">
                                <tr>
                                    <td class="pe-3"><h1>and acquired</h1></td>
                                    <td><img class="card" style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@turn.Noble.ImageName" alt="@turn.Noble.ImageName" onclick="NobleScreen('@turn.Noble.ImageName')"/></td>
                                </tr>
                            </table>
                        </div>
                    }

                }
                
            }



            @* Only display turn notification if there's no pending continue action *@
            @* This prevents double-notifications when a player needs to return tokens *@
            if (Model.LastTurn?.ContinueAction == null) {
                DisplayTurn(Model.LastTurn);
            }
        }
        </div>
    </section>
     <style>
         .notify {  
              z-index: 15;
              position: fixed;
              top:0px;
              width:100%;
              height: 0;  
              color:white;  
              text-align:center;
              background:rgba(0,0,0,.6);
              box-sizing:border-box;
              overflow: hidden;
              transition:height .2s;
            }
     </style>
     <script>
        window.onload = function () {
            // Show notification if: LastTurn exists, it's from another player, AND there's no pending ContinueAction
            @{
                bool shouldShowNotification = Model.LastTurn != null
                    && Model.Players[playerOrdinal].Name != Model.LastTurn.PlayerName
                    && Model.LastTurn.ContinueAction == null;
            }
            if (@(shouldShowNotification ? "true" : "false")) {
                document.getElementById("Notify").style.height = @height.ToString() + "rem";
                setTimeout(() => {
                    document.getElementById("Notify").style.height = "0rem";
                }, 3000)
            }
        }
    </script>

<!-- Options Screen -->

    <section id="OptionsScreen" class="OverlayScreen" style="display: none">
        <div class="mx-auto pt-2 pt-lg-1" style="width: 100%">
            <h1 id="OptionsHeader" class="mt-3 px-auto text-light display-1 text-center mt-xl-1" style="width: 100%">Options</h1>
        </div>
        <div style="margin-top: 22rem; width: 20rem;" class="mt-xl-9 mx-auto text-center">

            <div class="mx-auto purple">
                <button class="mx-auto btn btn-outline-purple btn-lg" style="border: 2px solid var(--purple); width: 100%;" onclick='ToggleScreen("OptionsScreen")'>Back</button> 
            </div>
            <div class="mx-auto my-3">
                <button class="mx-auto btn btn-outline-darkPurple btn-lg" style="width: 100%;" onclick='ToggleScreen("OptionsScreen"); ToggleScreen("GameLogScreen")'>Game Log</button> 
            </div>
            <div class="mx-auto my-3">
                <a class="mx-auto btn btn-outline-secondary btn-lg" style="width: 100%;" onclick='pause(); ToggleScreen("OptionsScreen"); ToggleScreen("PausedScreen")'>Pause</a> 
            </div>
            <div class="mx-auto my-3">
                <a class="mx-auto btn btn-outline-success btn-lg"  style="width: 100%;" href="https://cdn.1j1ju.com/medias/7f/91/ba-splendor-rulebook.pdf" target="_blank" rel="noopener noreferrer" >Rules</a> 
            </div>
            <div class="mx-auto my-3">
                <a class="mx-auto btn btn-outline-danger btn-lg" style="width: 100%;" href="./">Exit Game</a>
            </div>
        </div>
    </section>

<!-- Game Log Screen -->
    <section id="GameLogScreen" class="OverlayScreen" style="display: none; overflow-y:unset;">
        <button class="btn btn-darkPurple position-absolute btn-lg" style="bottom: 5%; left: 5%; width: 30%; max-width: 10rem;" onclick="ToggleScreen('GameLogScreen')">Back</button>
        <div style="overflow-y: auto; height: 100%;">
            <h1 class="display-1 mx-auto text-center mb-5">Game Log</h1>
            <div class="mx-auto container text-center">
                @{
                    bool skip = false;
                }
                @foreach (ITurn turn in Model.Turns)
                {
                
                    if (!skip)
                    {
                        <div class="p-3">
                            @{
                                DisplayTurn(turn);
                            }
                        
                        </div>


                        if (turn.Noble != null)
                        {
                            skip = true;
                        }
                    }
                    else 
                    {
                        skip = false;
                    }
                }

                <h1>Game Started</h1>
            </div>
        </div>
    </section>

<!-- Card Screen -->
    <section id="CardScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        var True = true, False = false;
        function CardScreen(ImageName, purchaseable=false) {

            let backButton = `<div class="col p-0 pe-3">
                                <div class="purple p-0 mx-auto" style="width: 100%;">
                                    <button class="mx-auto btn btn-outline-light btn-lg" style="width: 100%;" onclick='ToggleScreen("CardScreen")'>Back</button>
                                </div>
                            </div>`;


            let reserveButton = getReserveButton(@IsCurrentPlayer, @(Model.Players[playerOrdinal].ReservedCards.Count < 3), ImageName);
            let purchaseButton = getPurchaseButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName);

            let innerHtml = `
                <img class="mx-auto card mt-6
                            mt-md-6
                            mt-lg-6" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-height: 50%"/>
                <div class="container mt-5 mx-auto" style="width: 90%; max-width: 40rem; ">
                    <div class="row">` +
                        backButton +
                        reserveButton +
                    `</div>
                    <div class="row mt-3"> ` +
                        purchaseButton + `
                    </div>
                <div>`;
                
                    
                    
             
                    
            

            let CardScreen = document.getElementById("CardScreen")

            CardScreen.innerHTML = innerHtml;
            ToggleScreen("CardScreen");
        }
    </script>

<!-- Noble Screen -->
    <section id="NobleScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        function NobleScreen(ImageName) {
            let innerHtml = `
                <img class="mx-auto card mt-8
                            mt-md-7"
                            mt-lg-5" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-width: 75%; max-height: 50%"/>
                <div class="container row mt-5 mx-auto
                            pl-md-6
                            pl-lg-8
                            pl-xl-10" style="width: 100%">
                    <button class="btn btn-outline-light btn-lg" style="width: 10rem;" onclick='ToggleScreen("NobleScreen")'>Back</button>
                </div>
            `;

            let NobleScreen = document.getElementById("NobleScreen")

            NobleScreen.innerHTML = innerHtml;
            ToggleScreen("NobleScreen");
        }

        function youGotANobleScreen(ImageName) {
            // Hide the noble selection screen if it's visible
            let getNoblesScreen = document.getElementById("GetNoblesScreen");
            if (getNoblesScreen.style.display !== "none") {
                getNoblesScreen.style.display = "none";
            }

            let innerHtml = `
                <h1 class="text-center mx-auto mt-6"> You got a noble! </h1>
                <img class="mx-auto card mt-4
                            mt-md-7"
                            mt-lg-5" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-width: 75%; max-height: 50%"/>
                <div class="container row mt-5 mx-auto" style="width: 100%">
                    <button class="btn btn-outline-light btn-lg mx-auto" style="width: 75%; max-width: 30rem;" onclick='renderGameBoard();'>Okay!</button>
                </div>
            `;

            let NobleScreen = document.getElementById("NobleScreen")

            NobleScreen.innerHTML = innerHtml;
            ToggleScreen("NobleScreen");
        }
        
    </script>

<!-- Return Token Screen -->
    <section id="ReturnTokenScreen" class="OverlayScreen" style="display: none">
        <table>
            <tr>
                <td id="EmeraldReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningEmerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldReturningTokenValue">0</h1></td>
                <td id="SapphireReturningToken" class="takingToken" onclick="ReturnTokenClick('ReturningSapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireReturningTokenValue">0</h1></td>
                <td id="RubyReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningRuby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyReturningTokenValue">0</h1></td>
                <td id="DiamondReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningDiamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondReturningTokenValue">0</h1></td>
                <td id="OnyxReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningOnyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxReturningTokenValue">0</h1></td>
                <td id="GoldReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningGold')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="GoldReturningTokenValue">0</h1></td>
            </tr>
            <tr>
                <td class="token cursorHover" onclick="ReturnTokenClick('Emerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="PlayerEmeraldTokenValue" >@Model.Players[Model.CurrentPlayer].Tokens[Token.Emerald] </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Sapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="PlayerSapphireTokenValue">@Model.Players[Model.CurrentPlayer].Tokens[Token.Sapphire]</h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Ruby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="PlayerRubyTokenValue"    >@Model.Players[Model.CurrentPlayer].Tokens[Token.Ruby]    </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Diamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="PlayerDiamondTokenValue" >@Model.Players[Model.CurrentPlayer].Tokens[Token.Diamond] </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Onyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="PlayerOnyxTokenValue"    >@Model.Players[Model.CurrentPlayer].Tokens[Token.Onyx]    </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Gold')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="PlayerGoldTokenValue"    >@Model.Players[Model.CurrentPlayer].Tokens[Token.Gold]    </h1></td>
            </tr>
        </table>
    </section>
    <script>
        
        function ReturnTokens(tokensToReturn, reservedCard=false, displayTokens=null) {
            // Reset ReturningTokens to prevent doubling when user views shop and returns
            ReturningTokens = {};

            // If displayTokens not provided, refresh from DOM
            if (!displayTokens) {
                displayTokens = {
                    Emerald: parseInt(document.getElementById("PlayerEmeraldTokenValue").innerHTML) || 0,
                    Sapphire: parseInt(document.getElementById("PlayerSapphireTokenValue").innerHTML) || 0,
                    Ruby: parseInt(document.getElementById("PlayerRubyTokenValue").innerHTML) || 0,
                    Diamond: parseInt(document.getElementById("PlayerDiamondTokenValue").innerHTML) || 0,
                    Onyx: parseInt(document.getElementById("PlayerOnyxTokenValue").innerHTML) || 0,
                    Gold: parseInt(document.getElementById("PlayerGoldTokenValue").innerHTML) || 0
                };
            }

            let innerHtml = `
                <h1 class="mt-6 display-3 display-sm-1 text-center
                            mt-lg-4
                            mt-xl-5">You have over 10 tokens</h1>
                <h1 class="text-center">You must return ` + tokensToReturn + ` token` + (tokensToReturn === 1 ? '' : 's') + `</h1>
                <table class="mx-auto mt-10 mt-sm-6 mt-lg-6" style="max-width: 50rem;">
                    ` + takingTokensRow + `
                    <tr>
                        <td id="EmeraldReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningEmerald',`  + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldReturningTokenValue">0</h1></td>
                        <td id="SapphireReturningToken" class="takingToken" onclick="ReturnTokenClick('ReturningSapphire',` + tokensToReturn + `)" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireReturningTokenValue">0</h1></td>
                        <td id="RubyReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningRuby',`     + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyReturningTokenValue">0</h1></td>
                        <td id="DiamondReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningDiamond',`  + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondReturningTokenValue">0</h1></td>
                        <td id="OnyxReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningOnyx',`     + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxReturningTokenValue">0</h1></td>
                        <td id="GoldReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningGold',`     + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="GoldReturningTokenValue">0</h1></td>
                    </tr>
                    <tr>
                        <td class="token cursorHover" onclick="ReturnTokenClick('Emerald',` + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="PlayerEmeraldTokenValue" >` + displayTokens.Emerald + `</h1></td>
                        <td class="token cursorHover" onclick="ReturnTokenClick('Sapphire',`+ tokensToReturn + `)" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="PlayerSapphireTokenValue">` + displayTokens.Sapphire + `</h1></td>
                        <td class="token cursorHover" onclick="ReturnTokenClick('Ruby',`    + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="PlayerRubyTokenValue"    >` + displayTokens.Ruby + `</h1></td>
                        <td class="token cursorHover" onclick="ReturnTokenClick('Diamond',` + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="PlayerDiamondTokenValue" >` + displayTokens.Diamond + `</h1></td>
                        <td class="token cursorHover" onclick="ReturnTokenClick('Onyx',`    + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="PlayerOnyxTokenValue"    >` + displayTokens.Onyx + `</h1></td>
                        <td class="token cursorHover" onclick="ReturnTokenClick('Gold',`    + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="PlayerGoldTokenValue"    >` + displayTokens.Gold + `</h1></td>
                    </tr>
                </table>


                <div class="container row mt-5 mx-auto p-0" style="width: 100%; max-width: 50rem;">
                    <button class="btn btn-outline-darkPurple btn-lg col mx-3" style="width: 10rem;" onclick='cancelTurn()'>Back</button>
                    <button id="ReturnButton" disabled class="btn btn-purple btn-lg col mx-3" style="width: 10rem;" onclick='returnTokens(` + reservedCard + `)'>Return</button>
                </div>
            `;

            let ReturnTokenScreen = document.getElementById("ReturnTokenScreen")

            ReturnTokenScreen.innerHTML = innerHtml;
            ToggleScreen("ReturnTokenScreen");
        }
        
    </script>

<!-- Get Noble Screen -->
    <section id="GetNoblesScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        let selectableNobles = null;

        // Whether you need to choose a noble

        let IsChoosingNobles = @(Model.LastTurn != null && Model.LastTurn.ContinueAction != null && IsCurrentPlayer) ;

        // Handle pending continue action on page load
        @if (Model.LastTurn != null && Model.LastTurn.ContinueAction != null && IsCurrentPlayer)
        {
            <text>
            window.addEventListener('DOMContentLoaded', function() {
                // Recover TakingTokens from the LastTurn so we can show the correct display
                @if (Model.LastTurn.TakenTokens != null)
                {
                    <text>
                    TakingTokens = {
                        @foreach (var kvp in Model.LastTurn.TakenTokens.Where(k => k.Value > 0))
                        {
                            @:@kvp.Key: @kvp.Value,
                        }
                    };
                    </text>
                }

                var continueActionData = {
                    actionCode: @Model.LastTurn.ContinueAction.ActionCode,
                    message: "@Model.LastTurn.ContinueAction.Message",
                    nobles: @Html.Raw(Model.LastTurn.ContinueAction.Nobles != null ? System.Text.Json.JsonSerializer.Serialize(Model.LastTurn.ContinueAction.Nobles.Select(n => new { imageName = n.ImageName })) : "[]")
                };
                continueAction(continueActionData);
            });
            </text>
        }

        function clickNoble(imageName) {
            selectableNobles.forEach(noble => {
                document.getElementById("SelectNoble-" + noble).style.boxShadow = "0 0 0 0 var(--purpleOpacity)";
            });

            nobleImg = document.getElementById("SelectNoble-" + imageName);
            nobleImg.style.boxShadow = "0 0 0 0.5rem var(--purpleOpacity)";

            let acquireButton = document.getElementById("NobleAcquireButton");
            acquireButton.disabled = false;
            acquireButton.onclick = function () {IsChoosingNobles = false; pendingNobles = null; noble(imageName);};
        }

        function getNoblesScreen(ImageNames) {
            let innerHtml = `
                <h1 class="mt-6 display-3 display-sm-1 text-center
                            mt-lg-4
                            mt-xl-5">Which Noble would you like to acquire?</h1>
                <table class="mx-auto mt-10 mt-sm-6 mt-lg-6" style="max-width: 50rem;">
                    <tr>`;
            ImageNames.forEach(imageName =>  {
                innerHtml += `<td><img id="SelectNoble-` + imageName + `" class="card mx-auto" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + imageName + `" width="auto" style="max-width: 75%; max-height: 50%" onclick="clickNoble('`+ imageName + `');"/></td>`;
            });

            innerHtml += `
                    </tr>
                </table>


                <div class="container row mt-5 mx-auto p-0" style="width: 100%; max-width: 50rem;">
                    <button class="btn btn-outline-darkPurple btn-lg col mx-3" style="width: 10rem;" onclick='ToggleScreen("GetNoblesScreen")'>View Shop</button>
                    <button disabled id="NobleAcquireButton" class="btn btn-purple btn-lg col mx-3" style="width: 10rem;" >Acquire</button>
                </div>
            `;

            let GetNoblesScreen = document.getElementById("GetNoblesScreen")

            GetNoblesScreen.innerHTML = innerHtml;
            ToggleScreen("GetNoblesScreen");

            document.getElementById("CardScreen").style.display = "none";
        }
        
    </script>
    <script>
        function getNobles(nobles) {
            if (nobles.length > 1) {
                let ImageNames = [];
                nobles.forEach(noble => {
                    ImageNames.push(noble.imageName);
                });
                selectableNobles = ImageNames;
                getNoblesScreen(ImageNames);
            } else {
                noble(nobles[0].imageName);
            }

        }
    </script>

<!-- Reserve Card Screen-->
    <section id="CardScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        var True = true, False = false;
        function ReserveCardScreen(ImageName, purchaseable=false) {
            let backButton = `<div class="col p-0 pe-3">
                                <div class="purple p-0 mx-auto" style="width: 100%;">
                                    <button class="mx-auto btn btn-outline-light btn-lg" style="width: 100%;" onclick='ToggleScreen("CardScreen")'>Back</button>
                                </div>
                            </div>`;


            let purchaseButton =             getPurchaseReserveButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName);

            let innerHtml = `
                <img class="mx-auto card mt-6
                            mt-md-7"
                            mt-lg-5" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-height: 50%"/>
                <div class="container mt-5 mx-auto" style="width: 90%; max-width: 40rem; ">
                    <div class="row">` +
                        backButton +
                        purchaseButton + `
                    </div>
                <div>`;
                
                    
                    
             
                    
            

            let CardScreen = document.getElementById("CardScreen")

            CardScreen.innerHTML = innerHtml;

            ToggleScreen("CardScreen");
        }
    </script>

<!-- Game over screen-->
    <section id="GameOverScreen" class="OverlayScreen" style="opacity: 0.75;">

        <h1 class="text-center pt-5 splendorHeading" >Game Over</h1>
        @{
            List<IPlayer> winners = new List<IPlayer>();
            winners.Add(Model.Players[0]);
            for (int j = 1; j < Model.Players.Count; j++)
            {
                if (Model.Players[j].PrestigePoints > winners[0].PrestigePoints)
                {
                    winners.Clear();
                    winners.Add(Model.Players[j]);
                }
                else if (Model.Players[j].PrestigePoints == winners[0].PrestigePoints)
                {
                    winners.Add(Model.Players[j]);
                }
            }   
        }
        @if (winners.Count > 2)
        {
            string winnersString = "";
            for (int j = winners.Count - 1; j >= 0; j--)
            {
                if (j > 0)
                {
                    winnersString += winners[j].Name + ", ";
                }
                else
                {
                    winnersString += "and " + winners[j].Name;
                }
            }
            <div class="mx-auto mt-5">
                <h1 class="display-2 text-center mx-auto">Congrats @winnersString!</h1>
            </div>
        }
        else if (winners.Count == 2)
        {
            <div class="mx-auto mt-5">
                <h1 class="display-2 text-center mx-auto">Congrats @winners[0].Name and @winners[1].Name!</h1>
            </div>
        }
        else
        {
            <div class="mx-auto mt-5">
                <h1 class="display-3 text-center mx-auto">Congrats @winners[0].Name!</h1>
            </div>
        }

        <a class="btn btn-danger position-absolute fs-5" style="bottom: 10%; left: 50%; width: 50%; max-width: 30rem; transform: translateX(-50%);" asp-controller="Home" asp-action="Index">Exit</a>
    </section>
    <script>
        True = true; False = false;
        if (@Model.GameOver) {
            setTimeout(() => {
                OtherScreen = true;
                document.getElementById("GameOverScreen").style.display = "block";
            }, 2000);
        }
    </script>

<!-- Paused screen-->
    <section id="PausedScreen" class="OverlayScreen" style="display: none; background-color: rgba(23, 23, 23, 0.75)">
        
        <h1 class="text-center pt-5 splendorHeading" >Paused</h1>
        

        <a class="btn btn-purple position-absolute fs-5" style="bottom: 20%; left: 50%; width: 50%; max-width: 30rem; transform: translateX(-50%);" onclick='resume(); renderGameBoard()'>Resume</a>
    </section>

    <script>
        True = true; False = false;
        if (@Model.IsPaused) {
            document.getElementById("PausedScreen").style.display = "block";
        }
    </script>
</body>