@using Splendor.Models.Implementation
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Splendor.Models.IGameBoard
@{
    ViewData["Title"] = "Splendor";


    string purple = "rgb(110, 10, 150)";

    bool IsCurrentPlayer = Model.Players[Model.CurrentPlayer].Id == (int)ViewData["PlayerId"];
}

<div style="margin-bottom: 10rem;">

<!-- Communicating with the server -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    
    var version = @Model.Version;

    True = true; False = false;
    // Pull once after 1 second
    if (!@IsCurrentPlayer && !@Model.GameOver && !@Model.IsPaused) {
        setTimeout(pull, 1000);
    }
    // pulls to the server to see if anything is new
    function pull() {
        $.ajax({
            url: "/Game/State/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "GET",
            success: function (response) {
                if (!response.success) {
                    console.error("Error:", response.errorMessage);
                    return;
                }
                // if the gameboard's version is different than the current version render the game board and notify!
                if (response.data != version) {
                    renderGameBoard();
                }

            },
            error: function () {
                alert("ERROR - Please try again.");
            }
        });

        // Call again every 3 seconds
        setTimeout(pull, 3000);
        return false;
    }

    // when the turn requires further action
    function continueAction(data) {
        // If the code is 0 then return tokens
        if (data.actionCode == 0) {
            // Refresh PlayerTokens from current DOM values to get the latest state
            // This is critical because the DOM was updated by the polling mechanism
            PlayerTokens = {
                Emerald: parseInt(document.getElementById("PlayerEmeraldTokenValue").innerHTML),
                Sapphire: parseInt(document.getElementById("PlayerSapphireTokenValue").innerHTML),
                Ruby: parseInt(document.getElementById("PlayerRubyTokenValue").innerHTML),
                Diamond: parseInt(document.getElementById("PlayerDiamondTokenValue").innerHTML),
                Onyx: parseInt(document.getElementById("PlayerOnyxTokenValue").innerHTML),
                Gold: parseInt(document.getElementById("PlayerGoldTokenValue").innerHTML)
            };

            // Merge PlayerTokens with TakingTokens to show the full picture
            // This way the player sees all tokens (current + being taken) and can choose which to return
            // Store in global DisplayTokens so ReturnTokenClick and SetReturningTokens can use it
            DisplayTokens = {
                Emerald: (PlayerTokens.Emerald || 0) + (TakingTokens.Emerald || 0),
                Sapphire: (PlayerTokens.Sapphire || 0) + (TakingTokens.Sapphire || 0),
                Ruby: (PlayerTokens.Ruby || 0) + (TakingTokens.Ruby || 0),
                Diamond: (PlayerTokens.Diamond || 0) + (TakingTokens.Diamond || 0),
                Onyx: (PlayerTokens.Onyx || 0) + (TakingTokens.Onyx || 0),
                Gold: (PlayerTokens.Gold || 0) + (TakingTokens.Gold || 0)
            };

            // Check if this was a card reservation
            let isReservation = ReservedCard !== "";

            // If this was a card reservation, add 1 to Gold
            // The server added the gold token, but the DOM hasn't been updated yet
            if (isReservation) {
                DisplayTokens.Gold = (DisplayTokens.Gold || 0) + 1;
            }

            // Calculate correct tokens to return
            let totalTokens = CountTokens(DisplayTokens);
            let tokensToReturn = Math.max(0, totalTokens - 10);

            // Store pending state so we can recover if user clicks View Shop then End Turn
            pendingContinueAction = data;
            pendingTokensToReturn = tokensToReturn;
            pendingIsReservation = isReservation;

            ReturnTokens(tokensToReturn, isReservation, DisplayTokens);

        // If the code is 1 then get a noble
        } else if (data.actionCode == 1) {
            IsChoosingNobles = true;
            pendingNobles = data.nobles;
            getNobles(data.nobles);
        } else if (data.actionCode == 2) {
            ReturnTokens(1, true);
        }
    }

    // When the end turn button is pressed
    // Track if there's a pending continue action (e.g., need to return tokens)
    let pendingContinueAction = null;
    let pendingTokensToReturn = 0;
    let pendingIsReservation = false;
    // Track pending noble selection (mandatory - cannot be cancelled)
    let pendingNobles = null;

    function endTurn() {
        // If player must choose a noble, re-show the noble selection screen
        if (IsChoosingNobles && pendingNobles) {
            getNobles(pendingNobles);
            return;
        }

        // If there's a pending continue action, show the return screen instead of sending a new request
        if (pendingContinueAction) {
            ReturnTokens(pendingTokensToReturn, pendingIsReservation, DisplayTokens);
            return;
        }

        $.ajax({
            url: "/Game/EndTurn/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(TakingTokens),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If there was an error/if the data is a error object -> alert what the error was
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If there is a continue action/if the data is a continue action object -> continue action
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                // Else if it was successful
                else {
                    // Clear pending state on success
                    pendingContinueAction = null;
                    pendingTokensToReturn = 0;
                    TakingTokens = {};

                    // Render the gameboard
                    renderGameBoard();
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    // When the player purchases a card
    function purchase(ImageName) {
        $.ajax({
            url: "/Game/Purchase/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                else {
                    // Render the gameboard
                   renderGameBoard(data);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    // When the player reserves a card
    function reserve(ImageName) {
        ReservedCard = ImageName;
        $.ajax({
            url: "/Game/Reserve/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                else {
                    // Render the gameboard
                   renderGameBoard(data);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    // When the player returns tokens
    function returnTokens(reservedCard) {
        // Set all the return tokens to the inverse of itself
        for (token in ReturningTokens) {
            ReturningTokens[token] *= -1;
        }

        if (!reservedCard) {
            let mergedTokens = merge(ReturningTokens, TakingTokens);

            // Check if the merged tokens have any non-zero values
            let hasActivity = false;
            for (let token in mergedTokens) {
                if (mergedTokens[token] !== 0) {
                    hasActivity = true;
                    break;
                }
            }

            if (!hasActivity || Object.keys(mergedTokens).length === 0) {
                alert("ERROR - No tokens to take or return. This may happen if you returned all the tokens you were taking.");
                // Reset state for retry
                for (token in ReturningTokens) {
                    ReturningTokens[token] *= -1; // Revert the inversion
                }
                return;
            }

            let data = {
                "Tokens": mergedTokens
            };

            $.ajax({
                url: "/Game/Return/@ViewData["GameId"]/@ViewData["PlayerId"]",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    if (!response.success) {
                        alert("ERROR - " + response.errorMessage);
                        return;
                    }

                    var data = response.data;

                    // If the data has an error display that error
                    if (data.hasOwnProperty("errorCode")) {
                        alert("ERROR - " + data.message);
                    // If the data had a continue action -> continue
                    } else if (data.hasOwnProperty("actionCode")) {
                        continueAction(data);
                    }
                    else {
                        // Clear pending state on success
                        pendingContinueAction = null;
                        pendingTokensToReturn = 0;
                        pendingIsReservation = false;
                        TakingTokens = {};
                        ReturningTokens = {};
                        ReservedCard = "";

                        //Render the gameboard
                        renderGameBoard();
                    }
                },
                error: function () {
                    alert("ERROR - Please try again.")
                }
            });
        } else {
            let data = {
               "Tokens": ReturningTokens,
               "ReservingCardImageName": ReservedCard
            };

            $.ajax({
            url: "/Game/Return/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                }
                else {
                    // Clear pending state on success
                    pendingContinueAction = null;
                    pendingTokensToReturn = 0;
                    pendingIsReservation = false;
                    TakingTokens = {};
                    ReturningTokens = {};
                    ReservedCard = "";

                    // Render the gameboard
                   renderGameBoard(data);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
        }
    }

    // When the player gets a noble
    function noble(ImageName) {
        $.ajax({
            url: "/Game/Noble/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            data: JSON.stringify(ImageName),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }

                var data = response.data;
                // If the data has an error display that error
                if (data.hasOwnProperty("errorCode")) {
                    alert("ERROR - " + data.message);
                // If the data has a continue action -> continue
                } else if (data.hasOwnProperty("actionCode")) {
                    continueAction(data);
                } else {
                    // show you got a noble screen
                    youGotANobleScreen(ImageName);
                }
            },
            error: function () {
                alert("ERROR - Please try again.")
            }
        });
    }

    function pause() {
        $.ajax({
            url: "/Game/Pause/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function resume() {
        $.ajax({
            url: "/Game/Resume/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function cancelTurn() {
        $.ajax({
            url: "/Game/CancelTurn/@ViewData["GameId"]/@ViewData["PlayerId"]",
            type: "POST",
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert("ERROR - " + response.errorMessage);
                    return;
                }
                // Clear all frontend state
                pendingContinueAction = null;
                pendingTokensToReturn = 0;
                pendingIsReservation = false;
                TakingTokens = {};
                ReturningTokens = {};
                DisplayTokens = {};
                ReservedCard = "";
                // Reload fresh state
                renderGameBoard();
            },
            error: function () {
                alert("ERROR - Please try again.");
            }
        });
    }
    </script>


<!-- Options button -->
    <nav class="navbar">
        <div class="options-trigger" onclick='ToggleScreen("OptionsScreen")' >
            <span class="options-trigger__dot"></span>
            <span class="options-trigger__dot"></span>
            <span class="options-trigger__dot"></span>
        </div>
    </nav>

<section class="container row mx-auto p-2 maxContainer">

    <!-- Player Stats -->
        <section class="col-12 m-0 mt-5 p-2
                        col-lg-6 mt-lg-5 m-lg-0 p-lg-4 mt-xl-0 pt-xl-0">
            @{
                string borderColor = "gray";
                int playerOrdinal = 0;
                int i = playerOrdinal - 1;
                int count = 0;
                string playerCardId = count.ToString() + "-card";

                uint mostPoints = Model.Players.Max(p => p.PrestigePoints);
            }

            @for (int j = 0; j < Model.Players.Count; j++)
            {
                @if (Model.Players[j].Id == (int)ViewData["PlayerId"])
                {
                    playerOrdinal = j;
                    i = j - 1;
                    break;
                }
            }

            <script type="text/javascript">
                // Viewing player's ID for filtering reserved cards
                var PlayerId = @Model.Players[playerOrdinal].Id;
                // Viewing player's tokens for dynamic card highlight calculation
                var ViewingPlayerTokens = {
                    Emerald: @Model.Players[playerOrdinal].Tokens[Token.Emerald],
                    Sapphire: @Model.Players[playerOrdinal].Tokens[Token.Sapphire],
                    Ruby: @Model.Players[playerOrdinal].Tokens[Token.Ruby],
                    Diamond: @Model.Players[playerOrdinal].Tokens[Token.Diamond],
                    Onyx: @Model.Players[playerOrdinal].Tokens[Token.Onyx],
                    Gold: @Model.Players[playerOrdinal].Tokens[Token.Gold]
                };
                // Viewing player's card bonuses for dynamic card highlight calculation
                var PlayerCardBonuses = {
                    Emerald: @Model.Players[playerOrdinal].CardTokens[Token.Emerald],
                    Sapphire: @Model.Players[playerOrdinal].CardTokens[Token.Sapphire],
                    Ruby: @Model.Players[playerOrdinal].CardTokens[Token.Ruby],
                    Diamond: @Model.Players[playerOrdinal].CardTokens[Token.Diamond],
                    Onyx: @Model.Players[playerOrdinal].CardTokens[Token.Onyx]
                };
            </script>

            @while (count < Model.Players.Count)
            {
                playerCardId = count.ToString() + "-card";
                count++;
                i++;

                if (i >= Model.Players.Count)
                {
                    i -= Model.Players.Count;
                }


                if (i == Model.CurrentPlayer && !Model.GameOver)
                {
                    borderColor = @purple;
                }
                else if (Model.Players[i].PrestigePoints >= 15 && Model.Players[i].PrestigePoints == mostPoints)
                {
                    borderColor = "green";
                }
                else
                {
                    
                    borderColor = "gray";
                }

               

                <section id="@playerCardId" class="player-card @(i == 0 ? "player-card--starter" : "") @(i == Model.CurrentPlayer && !Model.GameOver ? "player-card--active" : "") @(Model.Players[i].PrestigePoints >= 15 && Model.Players[i].PrestigePoints == mostPoints ? "player-card--winner" : "")">
                    <!-- Player Header -->
                    <div class="player-header">
                        <span class="player-name">@Model.Players[i].Name</span>
                        <div class="player-prestige">
                            <svg class="prestige-icon" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                            </svg>
                            <span class="prestige-value" id="@Model.Players[i].Id-PrestigeDisplay">@Model.Players[i].PrestigePoints</span>
                        </div>
                    </div>

                    <!-- Player Content: Tokens + Reserved Cards side by side -->
                    <div class="player-content">
                        <!-- Tokens & Bonuses Section -->
                        <div class="player-tokens-section">
                            <!-- Total Token Count (left side summary) -->
                            <div class="token-summary">
                                <span class="token-summary-value" id="@Model.Players[i].Id-TokenTotal">@Model.Players[i].NumberOfTokens()</span>
                                <span class="token-summary-label">Tokens</span>
                            </div>

                            <!-- Token Grid -->
                            <div class="token-grid">
                                @{
                                    var gemTypes = new[] { Token.Emerald, Token.Sapphire, Token.Ruby, Token.Diamond, Token.Onyx };
                                }
                                @foreach (var gem in gemTypes)
                                {
                                    var tokenCount = Model.Players[i].Tokens[gem];
                                    var cardCount = Model.Players[i].CardTokens[gem];
                                    var totalCount = tokenCount + cardCount;
                                    var gemClass = gem.ToString().ToLower();

                                    <div class="token-column @(totalCount == 0 ? "token-column--empty" : "")">
                                        <!-- Total (purchasing power) -->
                                        <span class="token-total @(totalCount == 0 ? "token-total--empty" : "")" id="@Model.Players[i].Id-Total:@gem">@totalCount</span>

                                        <!-- Token chip -->
                                        <div class="token-chip token-chip--@gemClass @(tokenCount == 0 ? "token-chip--empty" : "")">
                                            <span class="token-chip-value" id="@Model.Players[i].Id-Token:@gem">@tokenCount</span>
                                        </div>

                                        <!-- Card bonus chip -->
                                        <div class="card-chip card-chip--@gemClass @(cardCount == 0 ? "card-chip--empty" : "")">
                                            <span class="card-chip-value" id="@Model.Players[i].Id-Card:@gem">@cardCount</span>
                                        </div>
                                    </div>
                                }

                                <!-- Gold tokens (separate - no cards) -->
                                @{
                                    var goldCount = Model.Players[i].Tokens[Token.Gold];
                                }
                                <div class="token-column token-column--gold @(goldCount == 0 ? "token-column--empty" : "")">
                                    <span class="token-total token-total--gold @(goldCount == 0 ? "token-total--empty" : "")" id="@Model.Players[i].Id-Total:Gold">@goldCount</span>
                                    <div class="token-chip token-chip--gold @(goldCount == 0 ? "token-chip--empty" : "")">
                                        <span class="token-chip-value" id="@Model.Players[i].Id-Token:Gold">@goldCount</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Hidden prestige for JS compatibility -->
                            <span id="@Model.Players[i].Id-PrestigePoints" style="display:none;">@Model.Players[i].PrestigePoints</span>
                        </div>

                        <!-- Reserved Cards Section (only shown if has reserved cards) -->
                        @if (Model.Players[i].ReservedCards.Count > 0)
                        {
                            <div class="player-reserved-section">
                                <div id="ReservedCards" class="player-reserved-grid">
                                    @{
                                        bool Purchaseable_r = false;
                                        string CardStateClass_r = "";
                                    }
                                    @foreach (ICard card in Model.Players[i].ReservedCards)
                                    {
                                        if (playerOrdinal == i && Model.Players[playerOrdinal].CanPurchaseCard(card))
                                        {
                                            CardStateClass_r = "card--purchasable";
                                            Purchaseable_r = true;
                                        }
                                        else if (playerOrdinal == i && Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                        {
                                            CardStateClass_r = "card--purchasable-gold";
                                            Purchaseable_r = true;
                                        }
                                        else
                                        {
                                            CardStateClass_r = "card--unavailable";
                                            Purchaseable_r = false;
                                        }
                                        <div class="player-reserved-card">
                                            <img id="@Model.Players[i].Id-Reserved:@card.ImageName" class="card cursorHover @CardStateClass_r" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt=@card.ImageName onclick='ReserveCardScreen("@card.ImageName", @Purchaseable_r)'/>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </section>
            }
        </section> 

    <!-- Shop -->
        <section id="Shop" class="col-12 m-0 p-2
                        col-lg-6 shop-wrapper">

            <!-- Tokens -->
                <section class="shop-token-pool">
                    <div class="shop-section-header">
                        <span class="shop-section-label">Gem Tokens</span>
                    </div>
                    <table class="mx-auto shop-token-table" width="100%">
                            <tr>
                                <td id="EmeraldTakingToken"  class="takingToken" onclick="TokenClick('TakingEmerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldTakingTokenValue">0</h1></td>
                                <td id="SapphireTakingToken" class="takingToken" onclick="TokenClick('TakingSapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireTakingTokenValue">0</h1></td>
                                <td id="RubyTakingToken"     class="takingToken" onclick="TokenClick('TakingRuby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyTakingTokenValue">0</h1></td>
                                <td id="DiamondTakingToken"  class="takingToken" onclick="TokenClick('TakingDiamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondTakingTokenValue">0</h1></td>
                                <td id="OnyxTakingToken"     class="takingToken" onclick="TokenClick('TakingOnyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxTakingTokenValue">0</h1></td>
                            </tr>
                            <tr>
                                <td class="token cursorHover" onclick="TokenClick('Emerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldTokenValue" >@Model.TokenStacks[Token.Emerald]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Sapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireTokenValue">@Model.TokenStacks[Token.Sapphire]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Ruby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyTokenValue"    >@Model.TokenStacks[Token.Ruby]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Diamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondTokenValue" >@Model.TokenStacks[Token.Diamond]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Onyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxTokenValue"    >@Model.TokenStacks[Token.Onyx]</h1></td>
                                <td class="token cursorHover" onclick="TokenClick('Gold')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="GoldTokenValue"    >@Model.TokenStacks[Token.Gold]</h1></td>

                            </tr>
                        </table>
                </section>

            <!-- Cards and Nobles -->
                <section class="shop-card-display">
                    <div class="shop-section-header">
                        <span class="shop-section-label">Development Cards</span>
                    </div>

                    <div class="shop-nobles-section">
                        <span class="shop-subsection-label">Nobles</span>
                        <table class="mx-auto shop-nobles-table">
                            <tr>
                                @foreach (INoble noble in Model.Nobles)
                                {
                                    <td><img id="@noble.ImageName" class="noble cursorHover" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@noble.ImageName" alt="@noble.ImageName" onclick='NobleScreen("@noble.ImageName")' /></td>
                                }
                            </tr>
                        </table>
                    </div>

                    <div class="shop-cards-section">
                        <table class="mx-auto shop-cards-table">
                            <tr class="shop-card-row shop-card-row--level3">
                                @{
                                    bool Purchaseable = false;
                                    string CardStateClass = "";
                                }
                                @foreach (ICard? card in Model.Level3Cards)
                                {
                                    if (card == null)
                                    {
                                        continue;
                                    }
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        CardStateClass = "card--purchasable";
                                        Purchaseable = true;
                                    }
                                    else if (Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                    {
                                        CardStateClass = "card--purchasable-gold";
                                        Purchaseable = true;
                                    }
                                    else
                                    {
                                        CardStateClass = "card--unavailable";
                                        Purchaseable = false;
                                    }

                                    <td><img id="@card.ImageName" class="card cursorHover @CardStateClass" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>

                                }
                             </tr>
                             <tr class="shop-card-row shop-card-row--level2">
                                @foreach (ICard? card in Model.Level2Cards)
                                {
                                    if (card == null)
                                    {
                                        continue;
                                    }
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        CardStateClass = "card--purchasable";
                                        Purchaseable = true;
                                    }
                                    else if (Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                    {
                                        CardStateClass = "card--purchasable-gold";
                                        Purchaseable = true;
                                    }
                                    else
                                    {
                                        CardStateClass = "card--unavailable";
                                        Purchaseable = false;
                                    }

                                    <td><img id="@card.ImageName" class="card cursorHover @CardStateClass" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>

                                }
                             </tr>
                             <tr class="shop-card-row shop-card-row--level1">
                                @foreach (ICard? card in Model.Level1Cards)
                                {
                                    if (card == null)
                                    {
                                        continue;
                                    }
                                    if(Model.Players[playerOrdinal].CanPurchaseCard(card))
                                    {
                                        CardStateClass = "card--purchasable";
                                        Purchaseable = true;
                                    }
                                    else if (Model.Players[playerOrdinal].CanPurchaseCardWithGold(card))
                                    {
                                        CardStateClass = "card--purchasable-gold";
                                        Purchaseable = true;
                                    }
                                    else
                                    {
                                        CardStateClass = "card--unavailable";
                                        Purchaseable = false;
                                    }
                                    <td><img id="@card.ImageName" class="card cursorHover @CardStateClass" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@card.ImageName" alt="@card.ImageName" onclick='CardScreen("@card.ImageName", @Purchaseable)' /></td>

                                }
                             </tr>
                        </table>
                    </div>
                </section>

        </section>

</section>

</div>
@* Close the main game container div - overlay screens below will be outside this container *@


@if (IsCurrentPlayer && !Model.GameOver)
{
    <button id="endTurnButton" class="btn btn-purple btn-lg game-end-turn" onclick="endTurn();">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <polyline points="9 18 15 12 9 6"/>
        </svg>
        End Turn
    </button>
    <audio id="AlertAudio" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/TurnAlert.mp3"></audio>


    <!--Your Turn Alert-->
        <div id="turnContainer" class="game-toast-container">
            <div id="turnNotification" class="game-toast game-toast--turn">
                <div class="game-toast__icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <polygon points="5 3 19 12 5 21 5 3"/>
                    </svg>
                </div>
                <span class="game-toast__text">It's your turn!</span>
            </div>
        </div>


        <script>
            setTimeout(() => {
                document.getElementById("AlertAudio").play();
                let turnNotification = document.getElementById("turnContainer");
                turnNotification.classList.add('game-toast-container--visible');
            }, 250);
            setTimeout(() => {
                let turnNotification = document.getElementById("turnContainer");
                turnNotification.classList.remove('game-toast-container--visible');
            }, 3000)
        </script>


    <!--Last Turn Alert-->
        <div id="lastTurnContainer" class="game-last-turn-banner">
            <div class="game-last-turn-banner__content">
                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <circle cx="12" cy="12" r="10"/>
                    <line x1="12" y1="8" x2="12" y2="12"/>
                    <line x1="12" y1="16" x2="12.01" y2="16"/>
                </svg>
                <span>This is your last turn!</span>
            </div>
        </div>


        <script>
            True = true; False = false;
            if (@Model.LastRound) {
                setTimeout(() => {
                    let turnNotification = document.getElementById("lastTurnContainer");
                    turnNotification.classList.add('game-last-turn-banner--visible');
                }, 1000);
                setTimeout(() => {
                    let turnNotification = document.getElementById("lastTurnContainer");
                    turnNotification.classList.remove('game-last-turn-banner--visible');
                }, 3500)
            }
        </script>
    
  
}

<!--Notify Alert-->
    <section class="game-notify" id="Notify">
        <div class="game-notify__content">
        @{
            int height = 0;

            void DisplayTurn(ITurn turn)
            {
                @if (turn == null)
                {
                    <h1>Game Started</h1>
                }
                else
                {
                    if (turn.Noble != null)
                    {
                        DisplayTurn(Model.Turns[Model.Turns.ToList().IndexOf(turn) + 1]);
                    }

                    if (turn.ReservedCard != null)
                    {
                        height += 5;
                        <div style="width: 100%;">
                            <table class="mx-auto">
                                <tr>
                                    <td class="pe-3"><h1>@turn.PlayerName reserved</h1></td>
                                    <td><img class="card" style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@turn.ReservedCard.ImageName" alt="@turn.ReservedCard.ImageName" onclick="NobleScreen('@turn.ReservedCard.ImageName')"/></td>
                                </tr>
                                @if (turn.TakenTokens != null && turn.TakenTokens.Count > 0) 
                                {
                                    height += 5;
                                    <tr>
                                        <td class="pe-3"><h1>and returned</h1></td>
                                        @foreach (KeyValuePair<Token, int> kvp in turn.TakenTokens)
                                        {
                                            for (int j = 0; j > kvp.Value; j--)
                                            {
                                                <td class="px-1"><img style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@(kvp.Key).png" alt="@kvp.Key" /></td>
                                            }
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else if (turn.TakenTokens != null)
                    {
                        height += 5;
                        <div style="width: 100%">
                                @{
                                    Dictionary<Token, int> positiveTokens = new Dictionary<Token, int>();
                                    Dictionary<Token, int> negativeTokens = new Dictionary<Token, int>();
                                    foreach(KeyValuePair<Token, int> kvp in turn.TakenTokens)
                                    {
                                        if (kvp.Value > 0)
                                        {
                                            positiveTokens.Add(kvp.Key, kvp.Value);
                                        }
                                        else if (kvp.Value < 0)
                                        {
                                            negativeTokens.Add(kvp.Key, kvp.Value);
                                        }
                                    }
                                }
                                @if (positiveTokens.Count > 0)
                                {
                                    <table class="mx-auto">
                                        <tr>
                                            <td class="pe-3"><h1>@turn.PlayerName acquired</h1></td>
                                            @foreach (KeyValuePair<Token, int> kvp in positiveTokens)
                                            {
                                                for (int j = 0; j < kvp.Value; j++)
                                                {
                                                    <td class="px-1"><img style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@(kvp.Key).png" alt="@kvp.Key" /></td>
                                                }
                                            }
                                        </tr>
                                       
                                        @if (negativeTokens.Count > 0) 
                                        {
                                            height += 5;
                                            <tr>
                                                <td class="pe-3"><h1>and returned</h1></td>
                                                @foreach (KeyValuePair<Token, int> kvp in negativeTokens)
                                                {
                                                    for (int j = 0; j > kvp.Value; j--)
                                                    {
                                                        <td class="px-1"><img style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@(kvp.Key).png" alt="@kvp.Key" /></td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <h1>@turn.PlayerName passed</h1>
                                }
                        </div>

                    }
                    else if (turn.Card != null)
                    {
                        height += 5;
                        <div style="width: 100%;">
                            <table class="mx-auto">
                                <tr>
                                    <td class="pe-3"><h1>@turn.PlayerName purchased</h1></td>
                                    <td><img class="card" style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@turn.Card.ImageName" alt="@turn.Card.ImageName" onclick="NobleScreen('@turn.Card.ImageName')" /></td>
                                </tr>
                            </table>
                        </div>
                    }

                    if (turn.Noble != null)
                    {
                        height += 5;
                        <div style="width: 100%;">
                            <table class="mx-auto">
                                <tr>
                                    <td class="pe-3"><h1>and acquired</h1></td>
                                    <td><img class="card" style="width: 3rem;" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/@turn.Noble.ImageName" alt="@turn.Noble.ImageName" onclick="NobleScreen('@turn.Noble.ImageName')"/></td>
                                </tr>
                            </table>
                        </div>
                    }

                }
                
            }



            @* Only display turn notification if there's no pending continue action *@
            @* This prevents double-notifications when a player needs to return tokens *@
            if (Model.LastTurn?.ContinueAction == null) {
                DisplayTurn(Model.LastTurn);
            }
        }
        </div>
    </section>
     <script>
        window.onload = function () {
            // Show notification if: LastTurn exists, it's from another player, AND there's no pending ContinueAction
            @{
                bool shouldShowNotification = Model.LastTurn != null
                    && Model.Players[playerOrdinal].Name != Model.LastTurn.PlayerName
                    && Model.LastTurn.ContinueAction == null;
            }
            if (@(shouldShowNotification ? "true" : "false")) {
                document.getElementById("Notify").style.height = @height.ToString() + "rem";
                setTimeout(() => {
                    document.getElementById("Notify").style.height = "0rem";
                }, 3000)
            }
        }
    </script>

@section Overlays {
<!-- Options Screen -->

    <section id="OptionsScreen" class="game-overlay" style="display: none">
        <div class="game-overlay__content">
            <h1 class="game-overlay__title heading-display">Options</h1>

            <div class="game-options-menu">
                <button class="btn btn-purple btn-lg game-options-btn" onclick='ToggleScreen("OptionsScreen")'>
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M19 12H5M12 19l-7-7 7-7"/>
                    </svg>
                    Back to Game
                </button>

                <button class="btn btn-outline-purple btn-lg game-options-btn" onclick='ToggleScreen("OptionsScreen"); ToggleScreen("GameLogScreen")'>
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
                        <polyline points="14 2 14 8 20 8"/>
                        <line x1="16" y1="13" x2="8" y2="13"/>
                        <line x1="16" y1="17" x2="8" y2="17"/>
                    </svg>
                    Game Log
                </button>

                <button class="btn btn-outline-darkPurple btn-lg game-options-btn" onclick='pause(); ToggleScreen("OptionsScreen"); ToggleScreen("PausedScreen")'>
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <rect x="6" y="4" width="4" height="16"/>
                        <rect x="14" y="4" width="4" height="16"/>
                    </svg>
                    Pause Game
                </button>

                <a class="btn btn-outline-gray btn-lg game-options-btn" href="https://cdn.1j1ju.com/medias/7f/91/ba-splendor-rulebook.pdf" target="_blank" rel="noopener noreferrer">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/>
                        <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/>
                    </svg>
                    Rules
                </a>

                <a class="btn btn-outline-danger btn-lg game-options-btn" href="./">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
                        <polyline points="16 17 21 12 16 7"/>
                        <line x1="21" y1="12" x2="9" y2="12"/>
                    </svg>
                    Exit Game
                </a>
            </div>
        </div>
    </section>

<!-- Game Log Screen -->
    <section id="GameLogScreen" class="game-overlay game-overlay--scrollable" style="display: none">
        <button class="btn btn-purple btn-lg game-overlay__back-btn" onclick="ToggleScreen('GameLogScreen')">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M19 12H5M12 19l-7-7 7-7"/>
            </svg>
            Back
        </button>
        <div class="game-overlay__scroll-content">
            <h1 class="game-overlay__title heading-display">Game Log</h1>
            <div class="mx-auto container text-center">
                @{
                    bool skip = false;
                }
                @foreach (ITurn turn in Model.Turns)
                {
                
                    if (!skip)
                    {
                        <div class="p-3">
                            @{
                                DisplayTurn(turn);
                            }
                        
                        </div>


                        if (turn.Noble != null)
                        {
                            skip = true;
                        }
                    }
                    else 
                    {
                        skip = false;
                    }
                }

                <h1>Game Started</h1>
            </div>
        </div>
    </section>

<!-- Card Screen -->
    <section id="CardScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        var True = true, False = false;
        function CardScreen(ImageName, purchaseable=false) {

            let backButton = `<div class="col p-0 pe-3">
                                <div class="purple p-0 mx-auto" style="width: 100%;">
                                    <button class="mx-auto btn btn-outline-light btn-lg" style="width: 100%;" onclick='ToggleScreen("CardScreen")'>Back</button>
                                </div>
                            </div>`;


            let reserveButton = getReserveButton(@IsCurrentPlayer, @(Model.Players[playerOrdinal].ReservedCards.Count < 3), ImageName);
            let purchaseButton = getPurchaseButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName);

            let innerHtml = `
                <img class="mx-auto card mt-6
                            mt-md-6
                            mt-lg-6" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-height: 50%"/>
                <div class="container mt-5 mx-auto" style="width: 90%; max-width: 40rem; ">
                    <div class="row">` +
                        backButton +
                        reserveButton +
                    `</div>
                    <div class="row mt-3"> ` +
                        purchaseButton + `
                    </div>
                <div>`;
                
                    
                    
             
                    
            

            let CardScreen = document.getElementById("CardScreen")

            CardScreen.innerHTML = innerHtml;
            ToggleScreen("CardScreen");
        }
    </script>

<!-- Noble Screen -->
    <section id="NobleScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        function NobleScreen(ImageName) {
            let innerHtml = `
                <img class="mx-auto card mt-8
                            mt-md-7"
                            mt-lg-5" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-width: 75%; max-height: 50%"/>
                <div class="container row mt-5 mx-auto
                            pl-md-6
                            pl-lg-8
                            pl-xl-10" style="width: 100%">
                    <button class="btn btn-outline-light btn-lg" style="width: 10rem;" onclick='ToggleScreen("NobleScreen")'>Back</button>
                </div>
            `;

            let NobleScreen = document.getElementById("NobleScreen")

            NobleScreen.innerHTML = innerHtml;
            ToggleScreen("NobleScreen");
        }

        function youGotANobleScreen(ImageName) {
            // Hide the noble selection screen if it's visible
            let getNoblesScreen = document.getElementById("GetNoblesScreen");
            if (getNoblesScreen.style.display !== "none") {
                getNoblesScreen.style.display = "none";
            }

            let innerHtml = `
                <h1 class="text-center mx-auto mt-6"> You got a noble! </h1>
                <img class="mx-auto card mt-4
                            mt-md-7"
                            mt-lg-5" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-width: 75%; max-height: 50%"/>
                <div class="container row mt-5 mx-auto" style="width: 100%">
                    <button class="btn btn-outline-light btn-lg mx-auto" style="width: 75%; max-width: 30rem;" onclick='renderGameBoard();'>Okay!</button>
                </div>
            `;

            let NobleScreen = document.getElementById("NobleScreen")

            NobleScreen.innerHTML = innerHtml;
            ToggleScreen("NobleScreen");
        }
        
    </script>

<!-- Return Token Screen -->
    <section id="ReturnTokenScreen" class="OverlayScreen" style="display: none">
        <table>
            <tr>
                <td id="EmeraldReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningEmerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldReturningTokenValue">0</h1></td>
                <td id="SapphireReturningToken" class="takingToken" onclick="ReturnTokenClick('ReturningSapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireReturningTokenValue">0</h1></td>
                <td id="RubyReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningRuby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyReturningTokenValue">0</h1></td>
                <td id="DiamondReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningDiamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondReturningTokenValue">0</h1></td>
                <td id="OnyxReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningOnyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxReturningTokenValue">0</h1></td>
                <td id="GoldReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningGold')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="GoldReturningTokenValue">0</h1></td>
            </tr>
            <tr>
                <td class="token cursorHover" onclick="ReturnTokenClick('Emerald')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="PlayerEmeraldTokenValue" >@Model.Players[Model.CurrentPlayer].Tokens[Token.Emerald] </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Sapphire')" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="PlayerSapphireTokenValue">@Model.Players[Model.CurrentPlayer].Tokens[Token.Sapphire]</h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Ruby')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="PlayerRubyTokenValue"    >@Model.Players[Model.CurrentPlayer].Tokens[Token.Ruby]    </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Diamond')"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="PlayerDiamondTokenValue" >@Model.Players[Model.CurrentPlayer].Tokens[Token.Diamond] </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Onyx')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="PlayerOnyxTokenValue"    >@Model.Players[Model.CurrentPlayer].Tokens[Token.Onyx]    </h1></td>
                <td class="token cursorHover" onclick="ReturnTokenClick('Gold')"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="PlayerGoldTokenValue"    >@Model.Players[Model.CurrentPlayer].Tokens[Token.Gold]    </h1></td>
            </tr>
        </table>
    </section>
    <script>
        
        function ReturnTokens(tokensToReturn, reservedCard=false, displayTokens=null) {
            // Reset ReturningTokens to prevent doubling when user views shop and returns
            ReturningTokens = {};

            // If displayTokens not provided, refresh from DOM
            if (!displayTokens) {
                displayTokens = {
                    Emerald: parseInt(document.getElementById("PlayerEmeraldTokenValue").innerHTML) || 0,
                    Sapphire: parseInt(document.getElementById("PlayerSapphireTokenValue").innerHTML) || 0,
                    Ruby: parseInt(document.getElementById("PlayerRubyTokenValue").innerHTML) || 0,
                    Diamond: parseInt(document.getElementById("PlayerDiamondTokenValue").innerHTML) || 0,
                    Onyx: parseInt(document.getElementById("PlayerOnyxTokenValue").innerHTML) || 0,
                    Gold: parseInt(document.getElementById("PlayerGoldTokenValue").innerHTML) || 0
                };
            }

            // Helper to get token class with empty state
            function getTokenClass(count) {
                return count <= 0 ? 'token cursorHover token--empty' : 'token cursorHover';
            }

            let innerHtml = `
                <h1 class="mt-6 display-3 display-sm-1 text-center
                            mt-lg-4
                            mt-xl-5">You have over 10 tokens</h1>
                <h1 class="text-center">You must return ` + tokensToReturn + ` token` + (tokensToReturn === 1 ? '' : 's') + `</h1>
                <table class="mx-auto mt-10 mt-sm-6 mt-lg-6" style="max-width: 50rem;">
                    ` + takingTokensRow + `
                    <tr>
                        <td id="EmeraldReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningEmerald',`  + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="EmeraldReturningTokenValue">0</h1></td>
                        <td id="SapphireReturningToken" class="takingToken" onclick="ReturnTokenClick('ReturningSapphire',` + tokensToReturn + `)" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="SapphireReturningTokenValue">0</h1></td>
                        <td id="RubyReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningRuby',`     + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="RubyReturningTokenValue">0</h1></td>
                        <td id="DiamondReturningToken"  class="takingToken" onclick="ReturnTokenClick('ReturningDiamond',`  + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="DiamondReturningTokenValue">0</h1></td>
                        <td id="OnyxReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningOnyx',`     + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="OnyxReturningTokenValue">0</h1></td>
                        <td id="GoldReturningToken"     class="takingToken" onclick="ReturnTokenClick('ReturningGold',`     + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="GoldReturningTokenValue">0</h1></td>
                    </tr>
                    <tr>
                        <td id="PlayerEmeraldToken" class="` + getTokenClass(displayTokens.Emerald) + `" onclick="ReturnTokenClick('Emerald',` + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Emerald.png"  alt="EmeraldToken"  /><h1 id="PlayerEmeraldTokenValue" >` + displayTokens.Emerald + `</h1></td>
                        <td id="PlayerSapphireToken" class="` + getTokenClass(displayTokens.Sapphire) + `" onclick="ReturnTokenClick('Sapphire',`+ tokensToReturn + `)" ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Sapphire.png" alt="SapphireToken" /><h1 id="PlayerSapphireTokenValue">` + displayTokens.Sapphire + `</h1></td>
                        <td id="PlayerRubyToken" class="` + getTokenClass(displayTokens.Ruby) + `" onclick="ReturnTokenClick('Ruby',`    + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Ruby.png"     alt="RubyToken"     /><h1 id="PlayerRubyTokenValue"    >` + displayTokens.Ruby + `</h1></td>
                        <td id="PlayerDiamondToken" class="` + getTokenClass(displayTokens.Diamond) + `" onclick="ReturnTokenClick('Diamond',` + tokensToReturn + `)"  ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Diamond.png"  alt="DiamondToken"  /><h1 id="PlayerDiamondTokenValue" >` + displayTokens.Diamond + `</h1></td>
                        <td id="PlayerOnyxToken" class="` + getTokenClass(displayTokens.Onyx) + `" onclick="ReturnTokenClick('Onyx',`    + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Onyx.png"     alt="OnyxToken"     /><h1 id="PlayerOnyxTokenValue"    >` + displayTokens.Onyx + `</h1></td>
                        <td id="PlayerGoldToken" class="` + getTokenClass(displayTokens.Gold) + `" onclick="ReturnTokenClick('Gold',`    + tokensToReturn + `)"     ><img class="p-0" style="width: 100%" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/Gold.png"     alt="GoldToken"     /><h1 id="PlayerGoldTokenValue"    >` + displayTokens.Gold + `</h1></td>
                    </tr>
                </table>


                <div class="container row mt-5 mx-auto p-0" style="width: 100%; max-width: 50rem;">
                    <button class="btn btn-outline-darkPurple btn-lg col mx-3" style="width: 10rem;" onclick='cancelTurn()'>Back</button>
                    <button id="ReturnButton" disabled class="btn btn-purple btn-lg col mx-3" style="width: 10rem;" onclick='returnTokens(` + reservedCard + `)'>Return</button>
                </div>
            `;

            let ReturnTokenScreen = document.getElementById("ReturnTokenScreen")

            ReturnTokenScreen.innerHTML = innerHtml;
            ToggleScreen("ReturnTokenScreen");
        }
        
    </script>

<!-- Get Noble Screen -->
    <section id="GetNoblesScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        let selectableNobles = null;

        // Whether you need to choose a noble

        let IsChoosingNobles = @(Model.LastTurn != null && Model.LastTurn.ContinueAction != null && IsCurrentPlayer) ;

        // Handle pending continue action on page load
        @if (Model.LastTurn != null && Model.LastTurn.ContinueAction != null && IsCurrentPlayer)
        {
            <text>
            window.addEventListener('DOMContentLoaded', function() {
                // Recover TakingTokens from the LastTurn so we can show the correct display
                @if (Model.LastTurn.TakenTokens != null)
                {
                    <text>
                    TakingTokens = {
                        @foreach (var kvp in Model.LastTurn.TakenTokens.Where(k => k.Value > 0))
                        {
                            @:@kvp.Key: @kvp.Value,
                        }
                    };
                    </text>
                }

                var continueActionData = {
                    actionCode: @Model.LastTurn.ContinueAction.ActionCode,
                    message: "@Model.LastTurn.ContinueAction.Message",
                    nobles: @Html.Raw(Model.LastTurn.ContinueAction.Nobles != null ? System.Text.Json.JsonSerializer.Serialize(Model.LastTurn.ContinueAction.Nobles.Select(n => new { imageName = n.ImageName })) : "[]")
                };
                continueAction(continueActionData);
            });
            </text>
        }

        function clickNoble(imageName) {
            selectableNobles.forEach(noble => {
                document.getElementById("SelectNoble-" + noble).style.boxShadow = "0 0 0 0 var(--purpleOpacity)";
            });

            nobleImg = document.getElementById("SelectNoble-" + imageName);
            nobleImg.style.boxShadow = "0 0 0 0.5rem var(--purpleOpacity)";

            let acquireButton = document.getElementById("NobleAcquireButton");
            acquireButton.disabled = false;
            acquireButton.onclick = function () {IsChoosingNobles = false; pendingNobles = null; noble(imageName);};
        }

        function getNoblesScreen(ImageNames) {
            let innerHtml = `
                <h1 class="mt-6 display-3 display-sm-1 text-center
                            mt-lg-4
                            mt-xl-5">Which Noble would you like to acquire?</h1>
                <table class="mx-auto mt-10 mt-sm-6 mt-lg-6" style="max-width: 50rem;">
                    <tr>`;
            ImageNames.forEach(imageName =>  {
                innerHtml += `<td><img id="SelectNoble-` + imageName + `" class="card mx-auto" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + imageName + `" width="auto" style="max-width: 75%; max-height: 50%" onclick="clickNoble('`+ imageName + `');"/></td>`;
            });

            innerHtml += `
                    </tr>
                </table>


                <div class="container row mt-5 mx-auto p-0" style="width: 100%; max-width: 50rem;">
                    <button class="btn btn-outline-darkPurple btn-lg col mx-3" style="width: 10rem;" onclick='ToggleScreen("GetNoblesScreen")'>View Shop</button>
                    <button disabled id="NobleAcquireButton" class="btn btn-purple btn-lg col mx-3" style="width: 10rem;" >Acquire</button>
                </div>
            `;

            let GetNoblesScreen = document.getElementById("GetNoblesScreen")

            GetNoblesScreen.innerHTML = innerHtml;
            ToggleScreen("GetNoblesScreen");

            document.getElementById("CardScreen").style.display = "none";
        }
        
    </script>
    <script>
        function getNobles(nobles) {
            if (nobles.length > 1) {
                let ImageNames = [];
                nobles.forEach(noble => {
                    ImageNames.push(noble.imageName);
                });
                selectableNobles = ImageNames;
                getNoblesScreen(ImageNames);
            } else {
                noble(nobles[0].imageName);
            }

        }
    </script>

<!-- Reserve Card Screen-->
    <section id="CardScreen" class="OverlayScreen" style="display: none">
    </section>
    <script>
        var True = true, False = false;
        function ReserveCardScreen(ImageName, purchaseable=false) {
            let backButton = `<div class="col p-0 pe-3">
                                <div class="purple p-0 mx-auto" style="width: 100%;">
                                    <button class="mx-auto btn btn-outline-light btn-lg" style="width: 100%;" onclick='ToggleScreen("CardScreen")'>Back</button>
                                </div>
                            </div>`;


            let purchaseButton =             getPurchaseReserveButton(@IsCurrentPlayer, purchaseable, @(Model.Players[playerOrdinal].Tokens[Token.Gold] > 0), ImageName);

            let innerHtml = `
                <img class="mx-auto card mt-6
                            mt-md-7"
                            mt-lg-5" src="https://raw.githubusercontent.com/TylerJudson/Portfolio/main/C%23Projects/Splendor/wwwroot/Images/` + ImageName + `" width="auto" style="max-height: 50%"/>
                <div class="container mt-5 mx-auto" style="width: 90%; max-width: 40rem; ">
                    <div class="row">` +
                        backButton +
                        purchaseButton + `
                    </div>
                <div>`;
                
                    
                    
             
                    
            

            let CardScreen = document.getElementById("CardScreen")

            CardScreen.innerHTML = innerHtml;

            ToggleScreen("CardScreen");
        }
    </script>

<!-- Game over screen-->
    <section id="GameOverScreen" class="game-overlay game-overlay--gameover">
        <div class="game-overlay__content">
            <div class="game-gameover">
                <div class="game-gameover__trophy">
                    <svg width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                        <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"/>
                        <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"/>
                        <path d="M4 22h16"/>
                        <path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"/>
                        <path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"/>
                        <path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"/>
                    </svg>
                </div>
                <h1 class="game-gameover__title heading-display">Game Over</h1>
                @{
                    List<IPlayer> winners = new List<IPlayer>();
                    winners.Add(Model.Players[0]);
                    for (int j = 1; j < Model.Players.Count; j++)
                    {
                        if (Model.Players[j].PrestigePoints > winners[0].PrestigePoints)
                        {
                            winners.Clear();
                            winners.Add(Model.Players[j]);
                        }
                        else if (Model.Players[j].PrestigePoints == winners[0].PrestigePoints)
                        {
                            winners.Add(Model.Players[j]);
                        }
                    }
                }
                @if (winners.Count > 2)
                {
                    string winnersString = "";
                    for (int j = winners.Count - 1; j >= 0; j--)
                    {
                        if (j > 0)
                        {
                            winnersString += winners[j].Name + ", ";
                        }
                        else
                        {
                            winnersString += "and " + winners[j].Name;
                        }
                    }
                    <p class="game-gameover__winners">Congratulations @winnersString!</p>
                }
                else if (winners.Count == 2)
                {
                    <p class="game-gameover__winners">Congratulations @winners[0].Name and @winners[1].Name!</p>
                }
                else
                {
                    <p class="game-gameover__winners">Congratulations @winners[0].Name!</p>
                    <p class="game-gameover__score">Final Score: @winners[0].PrestigePoints points</p>
                }

                <a class="btn btn-purple btn-xl game-gameover__btn" asp-controller="Home" asp-action="Index">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                        <polyline points="9 22 9 12 15 12 15 22"/>
                    </svg>
                    Return Home
                </a>
            </div>
        </div>
    </section>
    <script>
        True = true; False = false;
        if (@Model.GameOver) {
            setTimeout(() => {
                OtherScreen = true;
                document.getElementById("GameOverScreen").style.display = "flex";
            }, 2000);
        }
    </script>

<!-- Paused screen-->
    <section id="PausedScreen" class="game-overlay game-overlay--paused" style="display: none">
        <div class="game-overlay__content">
            <div class="game-paused">
                <div class="game-paused__icon">
                    <svg width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                        <rect x="6" y="4" width="4" height="16" rx="1"/>
                        <rect x="14" y="4" width="4" height="16" rx="1"/>
                    </svg>
                </div>
                <h1 class="game-paused__title heading-display">Game Paused</h1>
                <p class="game-paused__subtitle">Take your time, we'll be here when you get back.</p>

                <button class="btn btn-purple btn-xl game-paused__btn" onclick='resume(); renderGameBoard()'>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <polygon points="5 3 19 12 5 21 5 3"/>
                    </svg>
                    Resume Game
                </button>
            </div>
        </div>
    </section>

    <script>
        True = true; False = false;
        if (@Model.IsPaused) {
            document.getElementById("PausedScreen").style.display = "flex";
        }
    </script>
}